<link rel="stylesheet" href="/stylesheets/footer.css" type="text/css">
<link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
  <div class="container" style="padding-top:20px">
  <div class="row">

  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
  <h5 class="widget-title">CHI SIAMO?<span></span></h5>
  <p>Andrea Carubelli 803192 </p>
  <p>Mattia Brumana 808374 </p>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Quick Links<span></span></h5>
  <ul class="thumbnail-widget">
    <li>
    <div class="thumb-content"><a href='/'>Home</a></div>
    </li>
    <li>
    <div class="thumb-content"><a href="/videogames">Videogames</a></div>
    </li>
    <li>
    <div class="thumb-content"><a href="/userRegistration">Registrati</a></div>
    </li>
  </ul>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Inizia da qui<span></span></h5>
  <p style="text-align:justify;">Registrati per poter acquistare o noleggiare i videogiochi che preferisci</p>
  <button class="btn-subscribe-footer" onclick="location.href='/userRegistration';" class="btn btn-primary">Iscriviti ad Unigames</button>  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">

  <div class="widget no-box">
  <h5 class="widget-title">Contattaci<span></span></h5>

  <div class="thumb-content"><a href="mailto:a.carubelli@campus.unimib.it" style="color:white !important">Andrea Carubelli</a></div>
  <div class="thumb-content"><a href="mailto:m.brumana@campus.unimib.it" style="color:white !important">Mattia Brumana</a></div>
  </div>
  </div>

  </div>
  </div>
  </div>

  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
  <p>Copyright Unigames © 2020. All rights reserved.</p>
  </div>
  </div>
  </div>
  </div>
  </footer>