<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/navbar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


  <!-- SCRIPT -->
  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light-nav">
    <div class="container ">

      <a class="navbar-brand text-white no-hover" href="/">
        <img src="/images/logo-completo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="outline: transparent;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <li class="navbar-nav ">
          <a class="nav-link text-white" href="/videogames">Lista videogiochi</a>
        </li>
        <ul class="navbar-nav ml-auto">

          <li class="nav-item active px-3">
            <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="divider"></li>
          <!-- if not loggato -->
          <% if (!(sess.loggedin)) { %>

            <li class="nav-item px-3">
              <a class="nav-link text-white" href="/userRegistration">Iscriviti</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="/login">Accedi</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="/cart"><i class="fas fa-shopping-cart"></i>
                <% if (videogame.vid != null) { %>
                  <% if (videogame.vid.length != 0) { %>
                    <span class='badge badge-warning' id='lblCartCount'>
                      <%= videogame.vid.length %>
                    </span>
                  <% } %>
                <% } %>
              </a>
            </li>

          <!-- if loggato -->
          <% } else { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profilo
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= '/userProfile' %>"> <i class="fas fa-user"></i> Account</a>
                <div class="dropdown-divider"></div>
                <form action="/login/logout" class="dropdown-item" method="post" style="padding: .25rem 1.5rem;">
                  <i class="fas fa-sign-out-alt"></i><button type="submit" name="your_name" class="btn-link">&nbsp;Logout</button>
                </form>
              </div>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-white" href="/cart"><i class="fas fa-shopping-cart"></i>
                <% if (videogame.vid != null) { %>
                  <% if (videogame.vid.length != 0) { %>
                    <span class='badge badge-warning' id='lblCartCount'>
                      <%= videogame.vid.length %>
                    </span>
                  <% } %>
                <% } %>
              </a>
            </li>


          <% } %>
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>
