<link rel="stylesheet" href="/stylesheets/sidebar.css" type="text/css">
<link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<%if (typeof sess.user != 'undefined') { %>
    <div class="sidenav">
        <div class="userData">
            <a href="/userProfile"><i class="fas fa-4x fa-user-circle" style="color:#818181;"></i></a>
        </div>
        <%if (sess.user[0].admin == 1) { %>
            <a href="/userProfile/updateUser"><i class="fas fa-user"></i> Profilo</a>
            <a href="/userProfile/updateEmail"><i class="fas fa-envelope"></i> Modifica email</a>
            <a href="/userProfile/updatePassword"><i class="fas fa-lock"></i> Modifica password</a>
            <a href="/videogames/videogamesAdmin"><i class="fas fa-gamepad"></i> Videogiochi</a>
            <a href="/platforms"><i class="fas fa-microchip"></i> Piattaforme</a>
            <a href="/genres" class="last"><i class="fas fa-dice-d6"></i> Generi</a>
            <a href="/userProfile/wishlist"><i class="fas fa-gamepad"></i> Lista dei Desideri</a>
            <a href="/userProfile/wallet" class="last"><i class="fas fa-wallet"></i> Il mio portafoglio</a>

        <% } else if (sess.user[0].admin == 0) { %>
            <a href="/userProfile/updateUser"><i class="fas fa-user"></i> Modifica Profilo</a>
            <a href="/userProfile/updateEmail"><i class="fas fa-envelope"></i> Modifica email</a>
            <a href="/userProfile/updatePassword"><i class="fas fa-lock"></i> Modifica password</a>
            <a href="/userProfile/wishlist"><i class="fas fa-gamepad"></i> Lista dei Desideri</a>
            <a href="/userProfile/wallet" class="last"><i class="fas fa-wallet"></i> Il mio portafoglio</a>
        <% } %>
    </div>
<% } %>

