<!DOCTYPE html>
<html>
<head>
<title>Completa il pagamento</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    	<!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/cart.css" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


	<!-- SCRIPT -->
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
</head>

<body>
    <%- include ('templates/navbar'); %>
    <br>
    <div class="buy-min-height">
        <% if (sess.loggedin) { %>
            <h1 style="text-align: center;">Il totale del tuo ordine è </h1>
            <div class="order_total">
                <div class="order_total_content text-md-center">
                    <div class="order_total_title">Totale ordine:</div>
                    <% var totalPrice = 0 %>
                    <% var sumRentPrice = 0 %>
                    <% var sumBuyPrice = 0 %> 
                    <% var rentPrice = 0 %> 
                    <% videogame.vid.forEach(function(video, i){ %>
                        <% if (isRent.rent[i] == 1) { %>
                            <% rentPrice = video.rentPrice*days.daysRent[i] %> 
                            <% sumRentPrice = sumRentPrice + rentPrice %> 
                        <% } else { %>
                            <% sumBuyPrice  = sumBuyPrice + video.buyPrice %>
                        <% } %>
                    <% }) %>
                    <% totalPrice = Math.round((sumBuyPrice +  sumRentPrice + Number.EPSILON) * 100) / 100 %> 
                    <div class="order_total_amount" >€ <%= totalPrice %> 
                    </div>
                    <input type="text" class="form-control" name="startDay" id="startDay" style="display: none;">


                </div>
            </div><br><br>
            <h2 style="text-align: center;">Scegli il metodo di pagamento che preferisci </h2>
            <br>
            


                <% if ((realBalance < totalPrice) && (virtualBalance < totalPrice)) { %>
                    <br><br>
                    <h2 style="text-align: center; color:red">Saldo insufficiente</h2>
                    <div class="row justify-content-center">
                        <form action="/userProfile/rechargeWallet">
                            <button type="submit" class="btn btn-primary">Ricarica saldo</button>
                        </form>
                    </div>
                    <% } else { %>
                        <br><br>
                        <form action="/cart/buy" method="POST" onsubmit="return youCanBuy(event)">
                            <div class="cards-buy">
                                <div  class="row">
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" name="checkPayment" id="checkPaymentReal" value="real" class="card-input-element d-none">
                                              <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                                               <b style="font-size: 25px;" >Saldo reale <br/><%= Math.round((realBalance + Number.EPSILON) * 100) / 100 %> EUR</b>
                                               <input hidden id="realBalance"value="<%=Math.round((realBalance + Number.EPSILON) * 100) / 100 %>">
                                              </div>
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>
                                            <input type="radio" name="checkPayment" id="checkPaymentVirtual" value="virtual" class="card-input-element d-none">
                                              <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                                                <b style="font-size: 25px;" >Moneta virtuale <br/> <%= Math.round((virtualBalance + Number.EPSILON) * 100) / 100 %></b>
                                                <input hidden id ="virtualBalance" value="<%= Math.round((virtualBalance + Number.EPSILON) * 100) / 100 %>">

                                              </div>
                                          </label>
                                        <!-- <div class="card border-dark mb-3" style="max-width: 18rem; margin:0 auto">
                                            <div class="card-header" style="text-align: center;">Moneta virtuale</div>
                                            <div class="card-body text-dark" style="text-align: center;">
                                            <h4 class="card-title"> <%= virtualBalance %></h4>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <input type="text" class="form-control" name="totalPrice" id="totalPrice" value="<%=totalPrice%>" style="display: none;">
                            <br><br>
                            <button type="submit" class="btn btn-primary">Completa il pagamento</button>
                        </form>
                    <% } %>
            <% } else { %>
            <br><br><br>
            <h1 style="text-align:center">Devi effettuare il login prima di procedere al pagamento!</h1>
            <% } %>
    </div>
    
         
    <%- include ('templates/footer'); %> 

    <script>
        function youCanBuy(e){
            var inputRadio = document.getElementsByName("checkPayment");
            var paymentReal = document.getElementById("checkPaymentReal");
            var paymentVirtual = document.getElementById("checkPaymentVirtual");
            var realBalance = document.getElementById("realBalance");
            var virtualBalance = document.getElementById("virtualBalance");
            var totalPrice = document.getElementById("totalPrice");
            if (paymentReal.checked){
                console.log("PAYMENT REAL SELECTED");
                console.log(realBalance.value);
                if (parseFloat(realBalance.value) < parseFloat(totalPrice.value)){
                    console.log("REAL BALANCE MINORE DI TOTAL PRICE");
                    e.preventDefault();
                    alert("Saldo insufficiente, ricarica il portafoglio");
                    return false;
                }
            }
            if (paymentVirtual.checked){
                console.log("PAYMENT VIRTUAL SELECTED")
                if (parseFloat(virtualBalance.value) < parseFloat(totalPrice.value)){
                    e.preventDefault();
                    alert("Saldo insufficiente, ricarica il portafoglioo");
                    return false;
                }
            }
            c = -1;
            for(var i=0; i < inputRadio.length; i++){
                if(inputRadio[i].checked) {
                    c = i; 
                }
            }
            if (c == -1){
                e.preventDefault();
                alert("Devi selezionare un metodo di pagamento");
                return false;
            } 
            else{
                console.log("METODO DI PAGAMENTO SELEZIONATO")
                return true;
            }
        }
    </script>
        

</body>