<!DOCTYPE html>
<html>
<head>
<title>Carrello</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    	<!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/cart.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


	<!-- SCRIPT -->
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <%- include ('templates/navbar'); %>

    <div class="cart_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                <% if (videogame.vid != null) { %>
                    <% if (videogame.vid.length > 0) { %>
                    <div class="cart_container">
                        <div class="cart_title">Il tuo carrello</div>
                        <div class="cart_items">
                            <ul class="cart_list">
                                    <% console.log(videogame.vid.length) %> 
                                    <% videogame.vid.forEach(function(video, i){ %>
                                        
                                        <li class="cart_item clearfix">
                                            <div class="cart_item_image"><img src=" <%= video.image %>" alt=""></div>
                                            <div class="cart_item_info d-flex flex-md-row justify-content-between">
                                                <div class="cart_item_name cart_info_col">
                                                    <div class="cart_item_title"><%= video.name %></div>
                                                    <div class="cart_item_text"></div>
                                                </div>
                                                <div class="cart_item_quantity cart_info_col">
                                                    <div class="cart_item_title">Quantità</div>
                                                    <% if (isRent.rent[i] == 1) { %>
                                                        <div class="cart_item_text"><%= days.daysRent[i] %> giorni</div>
                                                    <% } else { %>
                                                    <div class="cart_item_text">1</div>
                                                    <% } %>
                                                </div>
                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_title">Prezzo</div>
                                                    <% if (isRent.rent[i] == 1) { %>
                                                        <div class="cart_item_text">€ <%= video.rentPrice %>/giorno</div>
                                                    <% } else { %>
                                                        <div class="cart_item_text">€ <%= video.buyPrice %></div>
                                                    <% } %>
                                                </div>
                                                <div class="cart_item_price cart_info_col">
                                                    <div class="cart_item_title">Rimuovi</div>
                                                    <a href="/cart/remove/<%= video.idVideogame %>">
                                                        <div class="cart_item_text" style="margin-top:25px"><i class="fas fa-trash-alt fa-2x" style="color:red;"></i></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
    
                                    
                                    <% }) %>                            
                            </ul>
                        </div>
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Totale ordine:</div>
                                <% var totalPrice = 0 %>
                                <% var sumRentPrice = 0 %>
                                <% var sumBuyPrice = 0 %> 
                                <% var rentPrice = 0 %> 
                                <% videogame.vid.forEach(function(video, i){ %>
                                    <% if (isRent.rent[i] == 1) { %>
                                        <% rentPrice = video.rentPrice*days.daysRent[i] %> 
                                        <% sumRentPrice = sumRentPrice + rentPrice %> 
                                    <% } else { %>
                                        <% sumBuyPrice  = sumBuyPrice + video.buyPrice %>
                                    <% } %>
                                <% }) %>
                                <% totalPrice = Math.round((sumBuyPrice +  sumRentPrice + Number.EPSILON) * 100) / 100 %> 
                                <div class="order_total_amount">€ <%= totalPrice %> </div>
                            </div>
                        </div>
                        <div class="cart_buttons"> <a href="/videogames"><button type="button" class="button cart_button_clear">Continua lo shopping</button></a> 
                            <a href="/cart/buy"><button type="button" class="button cart_button_checkout">Procedi al pagamento</button></a> 
                        </div>
                    </div>
                    <% } else { %>
                        <div class="cart_title">Il tuo carrello è vuoto</div>
                    <% } %>
                <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include ('templates/footer'); %> 

</body>
</html>