<!DOCTYPE html>
<html>
    <head>
        <title>Modifica Videogioco</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


        <!-- SCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <%- include ('templates/navbar'); %>
        <div style="position:relative;">
            <%if (closeAlert != "") { %>
                <div class="alert">
                    <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                    <%= confirmationInserted %>
                </div>
            <% } %>
            <!-- SIDEBAR -->
            <%- include ('templates/sidebar'); %>
            <br>

            <%if (typeof sess.user != 'undefined') { %>
                <%if (sess.user[0].admin == 1) { %>
                    <div class="container-editVideogame" id="editVideogame">
                        <div class="edit-videogame-content">
                            <h1 style="text-align:center;color:#1a1a1a;">Modifica Videogioco</h1>
                            <form id="form-editVideogame" method="post" action="/videogames/editVideogame" onsubmit="return VideogameOk()">
                                <% vg.forEach(function(videogame){ %>
                                    <input type="hidden" name="inputId" value="<%= videogame.idVideogame %>">
                                    <div class="form-group">
                                        <label for="inputTitle">Titolo</label>
                                        <input type="text" value="<%= videogame.name %>" class="form-control" id="inputTitle" name="inputTitle" placeholder="Titolo" required>
                                        <span id='messageExistsVideogame'></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputReleaseYear">Anno di pubblicazione</label>
                                        <select class="form-control" name="inputReleaseYear">
                                            <% var array = [2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,
                                                            2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,
                                                            1998,1997,1996,1995,1994,1993,1992,1991,1990] %>
                                            <% for(var i=0;i<array.length;i++){ %>
                                                <%if (videogame.releaseYear == array[i]) { %>
                                                    <option value=<%= array[i] %> selected="selected"><%= array[i] %></option>
                                                <% } else{ %>
                                                    <option value=<%= array[i] %>><%= array[i] %></option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSoftwareHouse">Sviluppatore</label>
                                        <input type="text" value="<%= videogame.softwareHouse %>" class="form-control" name="inputSoftwareHouse" placeholder="Sviluppatore" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Descrizione</label>
                                        <textarea rows="6" class="form-control" name="inputDescription" placeholder="Descrizione"><%= videogame.description %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputBuyPrice">Prezzo di acquisto</label>
                                        <input type="number" value="<%= videogame.buyPrice %>" min="1" step="any" class="form-control" name="inputBuyPrice" placeholder="0.00" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputRentPrice">Prezzo di noleggio</label>
                                        <input type="number" value="<%= videogame.rentPrice %>" min="1" step="any" class="form-control" name="inputRentPrice" placeholder="0.00" required>
                                    </div>
                                <% })%>
                                <div class="form-group">
                                    <label for="inputPlatforms">Giocabile sulle seguenti piattaforme</label>
                                    <div class="fixed-height">
                                        <% var array = [] %>
                                        <% var i = 0 %>
                                        <% sel_pl.forEach(function(pl){ %>
                                            <% array[i] = pl.idPlatform; %>
                                            <% i=i+1; %>
                                        <% }) %>

                                        <% all_pl.forEach(function(platform){ %>
                                            <%if (array.includes(platform.idPlatform)) { %>
                                                <label><input type="checkbox" name="inputPlatforms" value=<%= platform.idPlatform %> checked="checked"><%= platform.name %></label><br/>
                                            <% } else{ %>
                                                <label><input type="checkbox" name="inputPlatforms" value=<%= platform.idPlatform %>><%= platform.name %></label><br/>
                                            <% } %>
                                        <% })%>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputGenres">Appartenente ai seguenti generi</label>
                                    <div class="fixed-height">
                                        <% var array = [] %>
                                        <% var i = 0 %>
                                        <% sel_gn.forEach(function(gn){ %>
                                            <% array[i] = gn.idGenre; %>
                                            <% i=i+1; %>
                                        <% }) %>

                                        <% all_gn.forEach(function(genre){ %>
                                            <%if (array.includes(genre.idGenre)) { %>
                                                <label><input type="checkbox" name="inputGenres" value="<%= genre.idGenre %>" checked="checked"><%= genre.type %></label><br/>
                                            <% } else{ %>
                                                <label><input type="checkbox" name="inputGenres" value="<%= genre.idGenre %>"><%= genre.type %></label><br/>
                                            <% } %>
                                        <% })%>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Conferma</button>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                <div class="container-platforms" id="platforms">
                    <div class="platforms-content">
                        <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="container-platforms" id="platforms">
                <div class="platforms-content">
                    <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                </div>
            </div>
        <% } %>
    </div>

        <!-- check if a videogame is already registered and forced to change name in case-->
        <script>
            var canInsertVideogame;
            $(document).ready(function () {
            $('#inputTitle').on('blur', function (e) {
                var id = $('input[name="inputId"]').val();
                var name = $('input[name="inputTitle"]').val();
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    data: {
                        id: id,
                        name: name
                    },
                    dataType: 'json',
                    ContentType: 'application/json',
                    url: '/videogames/editVideogame/checkAvailability'
                }).done(function (data){
                if (data.length > 0){
                    $('#messageExistsVideogame').html('Attenzione! Il videogioco è già stato inserito.').css('color', 'red');
                    canInsertVideogame = false;
                }
                else {
                    $('#messageExistsVideogame').html('Il videogioco è disponibile').css('color', 'green');
                    canInsertVideogame = true;
                }
                });
            });
            });

            function VideogameOk(){
            if (canInsertVideogame){
                return true;
            }
            else {
                alert("Videogioco non valido."); return false;
            }
            }
        </script>
    </body>
</html>