<!DOCTYPE html>
<html>
    <head>
        <title>Modifica Piattaforma</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


        <!-- SCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.5.0/js/bootstrap-checkbox.min.js" defer></script>
    </head>

    <body>
       <!-- NAVBAR -->
       <%- include ('templates/navbar'); %>
       <div style="position:relative;">
           <%if (closeAlert != "") { %>
               <div class="alert">
                   <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                   <%= confirmationInserted %>
               </div>
           <% } %>
           <!-- SIDEBAR -->
           <%- include ('templates/sidebar'); %>
           <br>

           <%if (typeof sess.user != 'undefined') { %>
               <%if (sess.user[0].admin == 1) { %>
                    <div class="container-editPlatform" id="editPlatform">
                        <div class="edit-platform-content">
                            <h1 style="text-align:center;color:#1a1a1a;">Modifica Piattaforma</h1>
                            <form id="form-editPlatform" method="post" action="/platforms/editPlatform" onsubmit="return PlatformOk()">
                                <div class="form-group">
                                    <label for="inputTitle">Nome</label>
                                    <% pl.forEach(function(platform){ %>
                                        <input type="hidden" name="inputId" value="<%= platform.idPlatform %>">
                                        <input type="text" value="<%= platform.name %>" class="form-control" id="inputTitle" name="inputTitle" placeholder="Nome Piattaforma" required>
                                    <% })%>
                                </div>
                                <span id='messageExistsPlatform'></span>
                                <div class="form-group">
                                    <label for="inputVideogames">Videogiochi disponibili sulla piattaforma</label>
                                    <div class="fixed-height">
                                        <% var array = [] %>
                                        <% var i = 0 %>
                                        <% sel_vg.forEach(function(vg){ %>
                                            <% array[i] = vg.idVideogame; %>
                                            <% i=i+1; %>
                                        <% }) %>

                                        <% all_vg.forEach(function(videogame){ %>
                                            <%if (array.includes(videogame.idVideogame)) { %>
                                                <label><input type="checkbox" name="inputVideogames" value=<%= videogame.idVideogame %> checked="checked"> <%= videogame.name %></label><br/>
                                            <% } else{ %>
                                                <label><input type="checkbox" name="inputVideogames" value=<%= videogame.idVideogame %>> <%= videogame.name %></label><br/>
                                            <% } %>
                                        <% })%>
                                    </div>
                                <button type="submit" class="btn btn-primary">Conferma</button>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <div class="container-platforms" id="platforms">
                        <div class="platforms-content">
                            <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="container-platforms" id="platforms">
                    <div class="platforms-content">
                        <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- check if a platform is already registered and forced to change name in case-->
        <script>
            var canInsertPlatform;
            $(document).ready(function () {
            $('#inputTitle').on('blur', function (e) {
                var id = $('input[name="inputId"]').val();
                var name = $('input[name="inputTitle"]').val();
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    data: {
                        id: id,
                        name: name
                    },
                    dataType: 'json',
                    ContentType: 'application/json',
                    url: '/platforms/editPlatform/checkAvailability'
                }).done(function (data){
                if (data.length > 0){
                    $('#messageExistsPlatform').html('Attenzione! La piattaforma è già stata inserita.').css('color', 'red');
                    canInsertPlatform = false;
                }
                else {
                    $('#messageExistsPlatform').html('La piattaforma è disponibile').css('color', 'green');
                    canInsertPlatform = true;
                }
                });
            });
            });

            function PlatformOk(){
            if (canInsertPlatform){
                return true;
            }
            else {
                alert("Piattaforma non valida."); return false;
            }
            }
        </script>
    </body>
</html>