<head>
    <title>Modifica carta di credito</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<%- include ('templates/navbar'); %>
<div class="container-UserRegistration" style="position: relative;">
    <%- include ('templates/sidebar'); %>
    <%if (notPermission == 0) { %>
    <div class="credit-card-content">
        <div class="padding">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-sm-8 col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6"> <span>Modifica la tua carta di credito</span> </div>
                                    <div class="col-md-6 text-right" style="margin-top: -5px;"> <img src="https://img.icons8.com/color/36/000000/visa.png"> <img src="https://img.icons8.com/color/36/000000/mastercard.png"> <img src="https://img.icons8.com/color/36/000000/amex.png"> </div>
                                </div>
                            </div>
                            <div class="card-body" style="min-height: 350px">
                                <form method="post" action="/userProfile/editCreditCard/<%= creditCard[0].idCreditCard %>">
                                    <div class="form-group"> <label for="creditcard" class="control-label">Numero della carta</label> <input id="creditcard" name="creditcard" type="tel" class="input-lg form-control" placeholder="•••• •••• •••• ••••" value="<%= creditCard[0].idCreditCard %>" required > </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="ccexp" class="control-label">Data di scadenza</label> <input id="ccexp" name="ccexp" type="tel" class="input-lg form-control ccexp" autocomplete="ccexp" placeholder="•• / ••" required value="<%= month %> / <%= year %>"></div>
                                            <span id='messageExpireDate'></span>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="cccvc" class="control-label">CVV</label> <input id="cccvc" name="cccvc" type="tel" class="input-lg form-control cccvc" autocomplete="off" placeholder="••••" required> </div>
                                        </div>
                                    </div>
                                    <div class="form-group"> <label for="numeric" class="control-label">Nome e cognome del proprietario</label> <input type="text" id="placeholder" name="placeholder" class="input-lg form-control"> </div>
                                    <button type="submit" class="btn btn-primary">Modifica carta</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="container-genres" id="genres">
            <div class="genres-content">
                <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
            </div>
        </div>
    <% } %>
    <br>
    <br>
    <br>
    <br>
</div>

<%- include ('templates/footer'); %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>
<script>
    $(function($) {
        $('[data-numeric]').payment('restrictNumeric');
        $('.ccnumber').payment('formatCardNumber');
        $('.ccexp').payment('formatCardExpiry');
        $('.cccvc').payment('formatCardCVC');
        $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
        };
    });
</script>

<!-- verify number and type of credit card -->
<script>
    var creditcards = { 
        list:[
            {
                brand: 			'American Express',
                image: 			'https://img.icons8.com/color/36/000000/amex.png',
                verification: 	'^3[47][0-9]',
                separation: 	'^([0-9]{4})([0-9]{6})?(?:([0-9]{6})([0-9]{5}))?$',
                hidden: 		'**** ****** *[0-9][0-9][0-9][0-9]',
                accepted: 		true,
                length: 		15
            },
            {
                brand: 			'MasterCard',
                image: 			'https://img.icons8.com/color/36/000000/mastercard.png',
                verification: 	'^5[1-5][0-9]',
                separation: 	'^([0-9]{4})([0-9]{4})?([0-9]{4})?([0-9]{4})?$',
                hidden: 		'**** **** **** [0-9][0-9][0-9][0-9]',
                accepted: 		true,
                length: 		16
            },
            {
                brand: 			'Visa',
                image: 			'https://img.icons8.com/color/36/000000/visa.png',
                verification: 	'^4[0-9]',
                separation: 	'^([0-9]{4})([0-9]{4})?([0-9]{4})?([0-9]{4})?$',
                hidden: 		'**** **** **** [0-9][0-9][0-9][0-9]',
                accepted: 		true,
                length: 		16
            }
        ], 
        active:null 
    };


  //On Keydown
  $('input[name="creditcard"]').keydown(function(e){

    
    //Preset Data
    var card = $(this).val().replace(/[^0-9]/g,''),
        trim = $.trim( $(this).val().slice(0,-1) );


    //Find the Credit Card
    for( var i=0; i<creditcards.list.length; i++ ){

      //Check the Type
      if(card.match( new RegExp(creditcards.list[i].verification) )){

        //Set the Active Card
        creditcards.active = i;


        //Add Credit Card Icon
        if( $(this).next('img').length == 0 ){

          //Remove any possible Error
          $(this).next('small').remove();

          //Add the Image
          $(this).after('<img src="'+creditcards.list[i].image+'" alt="'+creditcards.list[i].brand+'" style="height:20px; position:relative; top:5px;" />');
        
        }


        //If the Credit Card is NOT accepted, Show the Error
        if( !creditcards.list[i].accepted && $(this).nextAll('small').length == 0 ){

          //Show Error
          $(this).next('img').after('<small style="margin-left:5px; color:#F00;">'+'Creditcard Not Accepted'+'</small>');
        
        }

        //End the Loop
        break;

      }

    }



    //Show Invalid Card
    if( creditcards.active == null && card.length > 4 && $(this).nextAll('small').length == 0 ){

      //Show Error
      $(this).after('<small style="margin-left:5px; color:#F00;">'+'Invalid Credit Card'+'</small>');

    }



    //Preset they Key
    key = creditcards.active !== null? creditcards.active : 1 ;


    //If the Last Character is a String, Remove it
    if( e.keyCode == 8 && trim != $(this).val().slice(0,-1) ){
      
      //Set the New Value
      $(this).val( trim );

      //Stop from Completing
      e.preventDefault();

      //Return
      return;

    }


    //Limit the Length of the Card, Allow Keys
    if( card.length >= creditcards.list[ key ].length && $.inArray(e.keyCode, [37, 38, 39, 40, 46, 8, 9, 27, 13, 110, 190]) === -1 && !e.metaKey && !e.ctrlKey ){
      e.preventDefault();
      return;
    }

    //Add a Space if the Regex Passes
    if( new RegExp(creditcards.list[ key ].separation).exec( card ) && e.keyCode >= 48 && e.keyCode <= 57 ){
      $(this).val( $(this).val() + ' ' );
    }

    //Return
    return;

  });

  //On Key up Ensure Card is Validated
  $('input[name="creditcard"]').keyup(function(e){

    //Get the Card
    var card = $(this).val().replace(/[^0-9]/,'');

    //Check if the Card is Active
    if( creditcards.active !== null && !card.match( new RegExp(creditcards.list[ creditcards.active ].verification) ) ){

        //Remove any Existing Error
        $(this).nextAll('small').remove();

        //If Not, Remove the Icon
        $(this).next('img').remove();

        //Set Active to NULL
        creditcards.active = null;

    }else
    if( card.length < 4 ){

      //Remove Invalid Card Error
      $(this).next('small').remove();

    }

  });

  $('input[name="creditcard"]').on('paste',function(e){
    
    //Save the Element
    var el    = this;

    //Set Timeout to Run Function
    setTimeout(function(){

      //Save the Card
      var card = $(el).val().replace(/[^0-9]/g,'');

      //Remove all but numbers
      $(el).val( card );

      //Prepare the Keydown Event
      var e = jQuery.Event('keydown',{
        which:    37,
        keyCode:  37
      });


      //Trigger Keydown
      $(el).trigger(e).promise().done(function(e){


        //Preset they Key
        key = creditcards.active !== null? creditcards.active : 1 ;

        //Force the Card Length
        card.substr( 0 , creditcards.list[ key ].length );
        
        //Separate the Card
        var separation  = new RegExp(creditcards.list[ key ].separation).exec( card ),
            storage     = '';

        //Find the Closest Separation Point
        while( !separation && card.length > 1 ){
          storage     = card.charAt( card.length - 1 );
          card        = card.slice(0,-1);
          separation  = new RegExp(creditcards.list[ key ].separation).exec( card );
        }

        //If there was a Separation
        if( separation ){

          //A Holder for all of the Separation that is defined
          var separated = [];

          //Remove all Undefined Separation Fields
          for( var i=0; i<separation.length; i++){
            if( typeof separation[i] != 'undefined' ) separated.push( separation[i] );
          }

          //Build the String
          var string = separated.slice(1).join(' ') + (storage!=''? ' '+storage : '' )

          //Add the Separated Value
          $(el).val( string )

        }        

      //End $(el).trigger(e).promise().dome(function(e){
      });

    //End setTimeout(function(){
    },0);

  //End $(input[name="creditcard"]
  });
</script>

<script>
    $('#ccexp').on('input', function () {
        var date = document.getElementById("ccexp").value;    
        var today, someday;
        today = new Date();
        someday = new Date();
        var month = date.toString().substring(0,2);
        var year = date.toString().substring(5,7);
        var fullYear = "20" + year;
        someday.setFullYear(fullYear, month, 1);
        if (someday > today) {
            $('#messageExpireDate').html('Data valida').css('color', 'green');

        }
        else {
            $('#messageExpireDate').html('Data non valida').css('color', 'red');
        }
    });
    
</script>