<!DOCTYPE html>
<html>
    <head>
        <title>Generi</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css">


        <!-- SCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <%- include('templates/navbar'); %>
        <div style="position:relative;">
            <%if (closeAlert != "") { %>
                <div class="alert">
                    <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                    <%= confirmationInserted %>
                </div>
            <% } %>
            <!-- SIDEBAR -->
            <%- include('templates/sidebar'); %>
            <br>

            <%if (typeof sess.user != 'undefined') { %>
                <%if (sess.user[0].admin == 1) { %>
                    <div class="container-genres" id="genres">
                        <div class="genres-content">
                            <h1 style="float:left;padding-left:10px;color:#1a1a1a;">Elenco Generi</h1>
                            <div style="margin-bottom:60px;padding-right:20px;text-align:right;">
                                <a href="/genres/newGenre">
                                    <i class="fas fa-plus fa-2x" style="position:relative;color:#1DB954;"></i>
                                </a>
                            </div>
                            <div class="table-responsive">
                                <table id="dt" class="table table-bordred table-striped" width="100%">
                                    <thead class="table-head">
                                        <tr class="table-head-column">
                                            <th>ID</th>
                                            <th>Tipologia genere</th>
                                            <th>Data di creazione</th>
                                            <th>Data di ultima modifica</th>
                                            <th>Modifica</th>
                                            <th>Rimuovi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(genre){ %>
                                            <tr>
                                                <td><%= genre.idGenre %></td>
                                                <td><%= genre.type %></td>
                                                <td class="table-body-column"><%= genre.creationDate %></td>
                                                <td class="table-body-column"><%= genre.modifiedDate %></td>
                                                <td class="table-body-column">
                                                    <a href="/genres/editGenre/<%= genre.idGenre %>">
                                                        <i class="fas fa-pen fa-2x" style="color:#1DB954;"></i>
                                                    </a>
                                                </td>
                                                <td class="table-body-column">
                                                    <a href="/genres/removeGenre/<%= genre.idGenre %>">
                                                        <i class="fas fa-trash-alt fa-2x" style="color:red;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% })%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="container-genres" id="genres">
                        <div class="genres-content">
                            <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="container-genres" id="genres">
                    <div class="genres-content">
                        <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                    </div>
                </div>
            <% } %>
        </div>

        <script>
            $(document).ready(function() {
                 $('#dt').DataTable({
                    "pagingType": "full_numbers",
                    "language": {
                        "sEmptyTable":     "Nessun dato presente nella tabella",
                        "sInfo":           "Vista da _START_ a _END_ di _TOTAL_ elementi",
                        "sInfoEmpty":      "Vista da 0 a 0 di 0 elementi",
                        "sInfoFiltered":   "(filtrati da _MAX_ elementi totali)",
                        "sInfoPostFix":    "",
                        "sInfoThousands":  ".",
                        "sLengthMenu":     "Visualizza _MENU_ elementi",
                        "sLoadingRecords": "Caricamento...",
                        "sProcessing":     "Elaborazione...",
                        "sSearch":         "Cerca:",
                        "sZeroRecords":    "La ricerca non ha portato alcun risultato.",
                        "oPaginate": {
                            "sFirst":      '<i class="fas fa-fast-backward" style="color:#1DB954;;"></i>',
                            "sPrevious":   '<i class="fas fa-step-backward" style="color:#1DB954;;"></i>',
                            "sNext":       '<i class="fas fa-step-forward" style="color:#1DB954;;"></i>',
                            "sLast":       '<i class="fas fa-fast-forward" style="color:#1DB954;;"></i>'
                        },
                        "oAria": {
                            "sSortAscending":  ": attiva per ordinare la colonna in ordine crescente",
                            "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                        }
                    }
                 });
             });
        </script>
        <script>
            $(document).ready(function () {
                $('#closeAlert').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json',
                        url: '/genres/deleteVariables'
                    })
                });
            });
        </script>
    </body>
</html>