<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/homepage.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/animate.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css" type="text/css">




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


    <!-- SCRIPT -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
    <body>
        <!-- NAVBAR -->
        <%- include ('templates/navbar'); %>

        <% if (sess.loggedin) { %>
            <!-- ciao <%= sess.email %> <br> -->
            <!-- <form action="/login/logout" method="POST">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form> -->
            <!-- <a href="/videogames">Lista Videogiochi</a> -->
        <% } %>

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <!-- Hero Post Slides -->
        <div class="hero-post-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-slide bg-img bg-overlay" style="background-image: url('<%= videogames[0].image %>');">
                <!-- Blog Content -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="400ms">Benvenuto su Unigames</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">All'interno di questa piattaforma potrai noleggiare o acquistare numerosissimi videogames per la maggior parte delle piattaforme. Dai pure un'occhiata e acquista o noleggia quando vuoi!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img bg-overlay" style="background-image: url('<%= videogames[1].image %>');">
                <!-- Blog Content -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="400ms">Benvenuto su Unigames</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">All'interno di questa piattaforma potrai noleggiare o acquistare numerosi videogiochi per la maggior parte delle piattaforme. Dai pure un'occhiata e acquista o noleggia quando vuoi!</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Hero Area End ##### -->
    <div class="games-area" style="padding-top: 100px; padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <!-- Single Games Area -->
                <div class="col-12 col-md-4">
                    <div class="single-games-area text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="https://www.internetmatters.org/wp-content/uploads/2018/01/playstation-4-logo-png-1-1-600x314.png" alt="">
                        <form action="/videogames/searchps4" method="post">
                            <button type="submit" class="btn btn-primary">Vedi giochi</button>
                        </form>
                    </div>
                </div>

                <!-- Single Games Area -->
                <div class="col-12 col-md-4">
                    <div class="single-games-area text-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="https://logos-download.com/wp-content/uploads/2016/06/Nintendo_logo_black_r.svg" alt="">
                        <form action="/videogames/searchNintendoSwitch" method="POST">
                            <button type="submit" class="btn btn-primary">Vedi giochi</button>
                        </form>
                    </div>
                </div>

                <!-- Single Games Area -->
                <div class="col-12 col-md-4">
                    <div class="single-games-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="https://images.everyeye.it/img-notizie/xbox-one-confermato-nuovo-bundle-dedicato-rainbow-six-siege-v3-248548.jpg" alt="">
                        <form action="/videogames/searchXboxOne" method="POST">
                            <button type="submit" class="btn btn-primary">Vedi giochi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Monthly Picks Area Start ##### -->
    <section class="monthly-picks-area bg-pattern" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="left-right-pattern"></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <h2 class="section-title wow fadeInUp" data-wow-delay="100ms" style="margin-bottom: 70px; color:white">I nostri videogiochi</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Popolari</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">Ultimi inseriti</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content wow fadeInUp" data-wow-delay="500ms" id="myTabContent">
            <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                <!-- Popular Games Slideshow -->
                <div class="popular-games-slideshow owl-carousel">
                    <!-- Single Games -->
                    <% videogames.forEach(function(vg){ %>
                        <div class="single-games-slide">
                            <img src="<%= vg.image %>" alt="">
                            <div class="slide-text">
                                <a href="/videogame/<%= vg.idVideogame %>" class="game-title"><%= vg.name %></a>
                                <div class="meta-data">
                                    <% var genres_type = [] %>
                                    <% var genres_id = [] %>
                                    <% var has_genre_id_genre = [] %>
                                    <% var results = [] %>
                                    <% var i = 0 %>
                                    <% var j = 0 %>

                                    <% gn.forEach(function(g){ %>
                                        <% genres_type[i] = g.type; %>
                                        <% genres_id[i] = g.idGenre; %>
                                        <% i = i + 1; %>
                                    <%  }) %>

                                    <% hasg.forEach(function(hg){ %>
                                        <% if(vg.idVideogame == hg.idVideogame) { %>
                                            <% has_genre_id_genre[j] = hg.idGenre; %>
                                            <% j = j + 1; %>
                                        <% } %>
                                    <%  }) %>

                                    <% for(var m=0;m<genres_id.length;m++) { %>
                                        <% for(var n=0;n<has_genre_id_genre.length;n++) { %>
                                            <% if(genres_id[m] == has_genre_id_genre[n]) { %>
                                                <% results.push(genres_type[m]); %>
                                            <% } %>
                                        <% } %>
                                    <% } %>

                                    <% var n_revs = 0 %>
                                    <% var total_stars = 0 %>
                                    <% var avg_stars = 0 %>
                                    <% review.forEach(function(rev){ %>
                                        <% if (rev.idVideogame == vg.idVideogame) { %>
                                            <% n_revs = n_revs + 1 %>
                                            <% total_stars += rev.stars %>
                                        <% } %>
                                    <% }) %>
                                    <% avg_stars = total_stars / n_revs %>
                                    <% var avg_rounded = avg_stars.toFixed(1) %>

                                    <% if(isNaN(avg_rounded)){ %>
                                        <a>-/5</a>
                                    <% } else { %>
                                        <a><%= avg_rounded %>/5</a>
                                    <% } %>
                                    <a><%= results[0] %></a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                <!-- Latest Games Slideshow -->
                <div class="latest-games-slideshow owl-carousel">
                    <!-- Single Games -->
                    <% videogames.forEach(function(vg){ %>
                        <div class="single-games-slide">
                            <img src="<%= vg.image %>" alt="">
                            <div class="slide-text">
                                <a href="/videogame/<%= vg.idVideogame %>" class="game-title"><%= vg.name %></a>
                                <div class="meta-data">
                                    <% var genres_type = [] %>
                                    <% var genres_id = [] %>
                                    <% var has_genre_id_genre = [] %>
                                    <% var results = [] %>
                                    <% var i = 0 %>
                                    <% var j = 0 %>

                                    <% gn.forEach(function(g){ %>
                                        <% genres_type[i] = g.type; %>
                                        <% genres_id[i] = g.idGenre; %>
                                        <% i = i + 1; %>
                                    <%  }) %>

                                    <% hasg.forEach(function(hg){ %>
                                        <% if(vg.idVideogame == hg.idVideogame) { %>
                                            <% has_genre_id_genre[j] = hg.idGenre; %>
                                            <% j = j + 1; %>
                                        <% } %>
                                    <%  }) %>

                                    <% for(var m=0;m<genres_id.length;m++) { %>
                                        <% for(var n=0;n<has_genre_id_genre.length;n++) { %>
                                            <% if(genres_id[m] == has_genre_id_genre[n]) { %>
                                                <% results.push(genres_type[m]); %>
                                            <% } %>
                                        <% } %>
                                    <% } %>

                                    <% var n_revs = 0 %>
                                    <% var total_stars = 0 %>
                                    <% var avg_stars = 0 %>
                                    <% review.forEach(function(rev){ %>
                                        <% if (rev.idVideogame == vg.idVideogame) { %>
                                            <% n_revs = n_revs + 1 %>
                                            <% total_stars += rev.stars %>
                                        <% } %>
                                    <% }) %>
                                    <% avg_stars = total_stars / n_revs %>
                                    <% var avg_rounded = avg_stars.toFixed(1) %>

                                    <% if(isNaN(avg_rounded)){ %>
                                        <a>-/5</a>
                                    <% } else { %>
                                        <a><%= avg_rounded %>/5</a>
                                    <% } %>
                                    <a><%= results[0] %></a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>

<!-- ##### Video Area Start ##### -->
<div class="egames-video-area bg-pattern2" style="padding-top: 100px; padding-bottom: 100px;;">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="egames-nav-btn">
                    <div class="nav flex-column" id="video-tab" role="tablist" aria-orientation="vertical">
                        <% videogames.forEach(function(vg){ %>
                            <% if(vg.idVideogame == 1) { %>
                                <a class="nav-link active" id="video<%= vg.idVideogame %>" data-toggle="pill" href="#video-<%= vg.idVideogame %>" role="tab" aria-controls="video-<%= vg.idVideogame %>" aria-selected="true">
                                    <!-- Single Video Widget -->
                                    <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="100ms">
                                        <div class="video-thumbnail">
                                            <img src="<%= vg.image %>" alt="" style="width: 80px; height: 80px">
                                        </div>
                                        <% var n_revs = 0 %>
                                        <% var total_stars = 0 %>
                                        <% var avg_stars = 0 %>
                                        <% review.forEach(function(rev){ %>
                                            <% if (rev.idVideogame == vg.idVideogame) { %>
                                                <% n_revs = n_revs + 1 %>
                                                <% total_stars += rev.stars %>
                                            <% } %>
                                        <% }) %>
                                        <% avg_stars = total_stars / n_revs %>
                                        <% var avg_rounded = avg_stars.toFixed(1) %>

                                        <% if(isNaN(avg_rounded)){ %>
                                            <div class="video-rating">-/5</div>
                                        <% } else { %>
                                            <div class="video-rating"><%= avg_rounded %>/5</div>
                                        <% } %>
                                        <div class="video-text">
                                            <p class="video-title"><%= vg.name %></p>

                                            <% var genres_type = [] %>
                                            <% var genres_id = [] %>
                                            <% var has_genre_id_genre = [] %>
                                            <% var results = [] %>
                                            <% var i = 0 %>
                                            <% var j = 0 %>

                                            <% gn.forEach(function(g){ %>
                                                <% genres_type[i] = g.type; %>
                                                <% genres_id[i] = g.idGenre; %>
                                                <% i = i + 1; %>
                                            <%  }) %>

                                            <% hasg.forEach(function(hg){ %>
                                                <% if(vg.idVideogame == hg.idVideogame) { %>
                                                    <% has_genre_id_genre[j] = hg.idGenre; %>
                                                    <% j = j + 1; %>
                                                <% } %>
                                            <%  }) %>

                                            <% for(var m=0;m<genres_id.length;m++) { %>
                                                <% for(var n=0;n<has_genre_id_genre.length;n++) { %>
                                                    <% if(genres_id[m] == has_genre_id_genre[n]) { %>
                                                        <% results.push(genres_type[m]); %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            <span><%= results[0] %></span>
                                        </div>
                                    </div>
                                </a>
                            <% } else { %>
                                <a class="nav-link" id="video<%= vg.idVideogame %>" data-toggle="pill" href="#video-<%= vg.idVideogame %>" role="tab" aria-controls="video-<%= vg.idVideogame %>" aria-selected="true">
                                    <!-- Single Video Widget -->
                                    <div class="single-video-widget d-flex wow fadeInUp" data-wow-delay="100ms">
                                        <div class="video-thumbnail">
                                            <img src="<%= vg.image %>" alt="" style="width: 80px; height: 80px">
                                        </div>
                                        <% var n_revs = 0 %>
                                        <% var total_stars = 0 %>
                                        <% var avg_stars = 0 %>
                                        <% review.forEach(function(rev){ %>
                                            <% if (rev.idVideogame == vg.idVideogame) { %>
                                                <% n_revs = n_revs + 1 %>
                                                <% total_stars += rev.stars %>
                                            <% } %>
                                        <% }) %>
                                        <% avg_stars = total_stars / n_revs %>
                                        <% var avg_rounded = avg_stars.toFixed(1) %>

                                        <% if(isNaN(avg_rounded)){ %>
                                            <div class="video-rating">-/5</div>
                                        <% } else { %>
                                            <div class="video-rating"><%= avg_rounded %>/5</div>
                                        <% } %>

                                        <div class="video-text">
                                            <p class="video-title"><%= vg.name %></p>
                                            <% var genres_type = [] %>
                                            <% var genres_id = [] %>
                                            <% var has_genre_id_genre = [] %>
                                            <% var results = [] %>
                                            <% var i = 0 %>
                                            <% var j = 0 %>

                                            <% gn.forEach(function(g){ %>
                                                <% genres_type[i] = g.type; %>
                                                <% genres_id[i] = g.idGenre; %>
                                                <% i = i + 1; %>
                                            <%  }) %>

                                            <% hasg.forEach(function(hg){ %>
                                                <% if(vg.idVideogame == hg.idVideogame) { %>
                                                    <% has_genre_id_genre[j] = hg.idGenre; %>
                                                    <% j = j + 1; %>
                                                <% } %>
                                            <%  }) %>

                                            <% for(var m=0;m<genres_id.length;m++) { %>
                                                <% for(var n=0;n<has_genre_id_genre.length;n++) { %>
                                                    <% if(genres_id[m] == has_genre_id_genre[n]) { %>
                                                        <% results.push(genres_type[m]); %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            <span><%= results[0] %></span>
                                        </div>
                                    </div>
                                </a>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-8">
                <div class="tab-content" id="video-tabContent">
                    <% videogames.forEach(function(vg){ %>
                        <% if (vg.idVideogame == 1) { %>
                            <div class="tab-pane fade show active" id="video-<%= vg.idVideogame %>" role="tabpanel" aria-labelledby="video<%= vg.idVideogame %>">
                                <div class="video-playground bg-img" style="background-image: url('<%= vg.image %> ');">
                                    <!-- Play Button -->
                                    <div class="play-btn">
                                        <iframe width="100%" height="590" src="<%= vg.trailer %> " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="tab-pane fade" id="video-<%= vg.idVideogame %>" role="tabpanel" aria-labelledby="video<%= vg.idVideogame %>">
                                <div class="video-playground bg-img" style="background-image: url('<%= vg.image %> ');">
                                    <!-- Play Button -->
                                    <div class="play-btn">
                                        <iframe width="100%" height="590" src="<%= vg.trailer %> " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Video Area End ##### -->





        <%- include ('templates/footer'); %>

        <script src="js/plugins.js"></script>
        <script src="js/active.js"></script>


    </body>

</html>
