<!DOCTYPE html>
<html>
<head>
<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

	<!-- CSS -->
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


	<!-- SCRIPT -->
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<style>
		.btn-subscribe {
			margin-bottom: 14px;
			max-width: 320px;
			margin-left: auto;
			margin-right: auto;
			color: #616467;
    		box-shadow: inset 0 0 0 2px #616467;
			background-color: transparent;
			font-size: 14px;
			line-height: 1;
			border-radius: 500px;
			padding: 16px 48px 18px;
			border-width: 0;
			letter-spacing: 2px;
			text-transform: uppercase;
			min-width: 160px;
			display: block;
			width: 100%;
		  }

		  .btn-subscribe:hover {
			cursor:pointer;
			transition-duration: .3s;
			color: #fff;
			background-color: #616467;
		  }

		  .btn-subscribe:focus{
			outline: 0;
		  }

	</style>

</head>

	<body>
		<!-- NAVBAR -->
		<%- include ('templates/navbar'); %>
		<br>
		<div class=".container-Login" id="userLogin">
			<div class="login-content">
				<h1 style="text-align:center">Accedi qui</h1>
				<form action="/login/auth" method="POST" id="loginForm" onsubmit="login(event)">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" placeholder="Password" required>
					</div>
					<span id='messagePasswordOrEmail'></span>
					<br><br>
					<button type="submit" id="registerButton" class="btn btn-primary">Accedi</button>
				</form>
				<br>
				<hr>
				<br>
				<h1 style="text-align:center">Non hai un account Unigames?</h1><br>
				<button class="btn-subscribe" onclick="location.href='/userRegistration';" class="btn btn-primary">Iscriviti ad Unigames</button>
			</div>
		</div>
		<br><br>
<%- include ('templates/footer'); %> 
	</body>


<!-- check if email and/or password are correct-->
<script>

function login(e) {
		var email = $('input[name="email"]').val();
		var password = $('input[name="password"]').val();
		e.preventDefault();
		$.ajax({
			type: 'POST',
			data: {
				email: email,
				password: password
			},
			dataType: 'json',
			ContentType: 'application/json',
			url: '/login/check'
		}).done(function (results){
			if (results.length > 0){
				$('#messagePasswordOrEmail').html('');
				document.getElementById("loginForm").submit();
				return true;
			}
			else {
				$('#messagePasswordOrEmail').html('Attenzione! Email e/o password errati').css('color', 'red');
				return false;
			}
		});
}
</script>

</html>