<!DOCTYPE html>
<html>
    <head>
        <title>Nuovo Genere</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


        <!-- SCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <%- include ('templates/navbar'); %>
        <div style="position:relative;">
            <%if (closeAlert != "") { %>
                <div class="alert">
                    <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                    <%= confirmationInserted %>
                </div>
            <% } %>
            <!-- SIDEBAR -->
            <%- include ('templates/sidebar'); %>
            <br>

            <%if (typeof sess.user != 'undefined') { %>
                <%if (sess.user[0].admin == 1) { %>
                    <div class="container-newGenre" id="newGenre">
                    <div class="new-genre-content">
                        <h1 style="text-align:center;color:#1a1a1a;">Nuovo Genere</h1>
                        <form id="form-newGenre" method="post" action="/genres/newGenre" onsubmit="return GenreOk()">
                            <div class="form-group">
                                <label for="inputype">Tipologia</label>
                                <input type="text" class="form-control" id="inputType" name="inputType" placeholder="Tipologia Genere" required>
                            </div>
                            <span id='messageExistsGenre'></span>
                            <div class="form-group">
                                <label for="inputVideogames">Videogiochi appartenenti al genere</label>
                                <div class="fixed-height">
                                    <% data.forEach(function(videogame){ %>
                                        <label><input type="checkbox" name="inputVideogames" value=<%= videogame.idVideogame %>><%= videogame.name %></label><br/>
                                    <% })%>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Conferma</button>
                        </form>
                    </div>
                    </div>
                <% } else { %>
                    <div class="container-platforms" id="platforms">
                        <div class="platforms-content">
                            <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="container-platforms" id="platforms">
                    <div class="platforms-content">
                        <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- check if a platform is already registered and forced to change name in case-->
        <script>
            var canInsertGenre;
            $(document).ready(function () {
            $('#inputType').on('blur', function (e) {
                var type = $('input[name="inputType"]').val();
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    data: {
                        type: type
                    },
                    dataType: 'json',
                    ContentType: 'application/json',
                    url: '/genres/newGenre/checkAvailability'
                }).done(function (data){
                if (data.length > 0){
                    $('#messageExistsGenre').html('Attenzione! Il genere è già stata inserito.').css('color', 'red');
                    canInsertGenre = false;
                }
                else {
                    $('#messageExistsGenre').html('Il genere è disponibile').css('color', 'green');
                    canInsertGenre = true;
                }
                });
            });
            });

            function GenreOk(){
            if (canInsertGenre){
                return true;
            }
            else {
                alert("Genere non valido."); return false;
            }
            }
            </script>
    </body>
</html>