<!DOCTYPE html>
<html>
    <head>
        <title>Nuovo Videogioco</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


        <!-- SCRIPT -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <%- include ('templates/navbar'); %>
        <div style="position:relative;">
            <%if (closeAlert != "") { %>
                <div class="alert">
                    <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                    <%= confirmationInserted %>
                </div>
            <% } %>
            <!-- SIDEBAR -->
            <%- include ('templates/sidebar'); %>
            <br>

            <%if (typeof sess.user != 'undefined') { %>
                <%if (sess.user[0].admin == 1) { %>
                    <div class="container-newVideogame" id="newVideogame">
                    <div class="new-videogame-content">
                        <h1 style="text-align:center;color:#1a1a1a;">Nuovo Videogioco</h1>
                        <form id="form-newVideogame" method="post" action="/videogames/newVideogame" onsubmit="return VideogameOk()">
                            <div class="form-group">
                                <label for="inputTitle">Titolo</label>
                                <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Titolo" required>
                            </div>
                            <span id='messageExistsVideogame'></span>
                            <div class="form-group">
                                <label for="inputReleaseYear">Anno di pubblicazione</label>
                                <select class="form-control" name="inputReleaseYear">
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                    <option value="2009">2009</option>
                                    <option value="2008">2008</option>
                                    <option value="2007">2007</option>
                                    <option value="2006">2006</option>
                                    <option value="2005">2005</option>
                                    <option value="2004">2004</option>
                                    <option value="2003">2003</option>
                                    <option value="2002">2002</option>
                                    <option value="2001">2001</option>
                                    <option value="2000">2000</option>
                                    <option value="1999">1999</option>
                                    <option value="1998">1998</option>
                                    <option value="1997">1997</option>
                                    <option value="1996">1996</option>
                                    <option value="1995">1995</option>
                                    <option value="1994">1994</option>
                                    <option value="1993">1993</option>
                                    <option value="1992">1992</option>
                                    <option value="1991">1991</option>
                                    <option value="1990">1990</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="inputSoftwareHouse">Sviluppatore</label>
                                <input type="text" class="form-control" name="inputSoftwareHouse" placeholder="Sviluppatore" required>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Descrizione</label>
                                <textarea rows="6" class="form-control" name="inputDescription" placeholder="Descrizione"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="inputBuyPrice">Prezzo di acquisto</label>
                                <input type="number" min="1" step="any" class="form-control" name="inputBuyPrice" placeholder="0.00" required>
                            </div>
                            <div class="form-group">
                                <label for="inputRentPrice">Prezzo di noleggio</label>
                                <input type="number" min="1" step="any" class="form-control" name="inputRentPrice" placeholder="0.00" required>
                            </div>
                            <div class="form-group">
                                <label for="platforms">Giocabile sulle seguenti piattaforme</label><br/>
                                <div class="fixed-height">
                                    <% data_pl.forEach(function(platform){ %>
                                        <label><input type="checkbox" name="inputPlatforms" value=<%= platform.idPlatform %>><%= platform.name %></label><br/>
                                    <% })%>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="genres">Appartenente ai seguenti generi</label><br/>
                                <div class="fixed-height">
                                    <% data_gn.forEach(function(genre){ %>
                                        <label><input type="checkbox" name="inputGenres" value=<%= genre.idGenre %>><%= genre.type %></label><br/>
                                    <% })%>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Conferma</button>
                        </form>
                    </div>
                    </div>
                <% } else { %>
                    <div class="container-platforms" id="platforms">
                        <div class="platforms-content">
                            <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="container-platforms" id="platforms">
                    <div class="platforms-content">
                        <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
                    </div>
                </div>
            <% } %>
        </div>

        <!-- check if a videogame is already registered and forced to change title in case-->
        <script>
            var canInsertVideogame;
            $(document).ready(function () {
            $('#inputTitle').on('blur', function (e) {
                var title = $('input[name="inputTitle"]').val();
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    data: {
                        title: title
                    },
                    dataType: 'json',
                    ContentType: 'application/json',
                    url: '/videogames/newVideogame/checkAvailability'
                }).done(function (data){
                if (data.length > 0){
                    $('#messageExistsVideogame').html('Attenzione! Il videogioco è già stato inserito.').css('color', 'red');
                    canInsertVideogame = false;
                }
                else {
                    $('#messageExistsVideogame').html('Il videogioco è disponibile.').css('color', 'green');
                    canInsertVideogame = true;
                }
                });
            });
            });

            function VideogameOk(){
            if (canInsertVideogame){
                return true;
            }
            else {
                alert("Videogame non valido."); return false;
            }
            }
            </script>
    </body>
</html>