<head>
    <title>Ricarica portafoglio</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<%- include ('templates/navbar'); %>
<div class="container-UserRegistration" style="position: relative;">
    <%- include ('templates/sidebar'); %>
    <div class="rechargeWallet-content">

        <% if (creditCardData.length > 0) { %>
            <br />
            <h1 style="text-align:center">Scegli da quale carta ricaricare il tuo saldo </h1>
            <br />
                <% creditCardData.forEach(function(creditCard){ %>
                    <div  class="row justify-content-center">
                        <a href="/userProfile/rechargeWalletRecharge" class="credit-card">
                            <div class="card border-dark mb-3 my-card" style="max-width: 25rem;">
                                <div class="card-header" style="text-align: center; ">
                                    <% if (creditCard.idCreditCard.charAt(0) == 4) { %>
                                        <img src="https://img.icons8.com/color/36/000000/visa.png">
                                    <% } %>
                                    <% if (creditCard.idCreditCard.charAt(0) == 5) { %>
                                        <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                        <% } %>
                                        <% if (creditCard.idCreditCard.charAt(0) == 3) { %>
                                        <img src="https://img.icons8.com/color/36/000000/amex.png">
                                    <% } %>
                                    **** **** **** <%= creditCard.idCreditCard.substring(12,16) %></div>
                                <div class="card-body text-dark" style="text-align: center;">
                                    <h4>     Ricarica da questa carta   </h4>                                
                                </div>
                            </div>
                        </a>
                    </div>
                <% })%>
        <% } else { %>
            <h3>Inserisci almeno una carta di credito per poter ricaricare il tuo portafoglio</h3>
        <% } %>
        
    </div>
</div>
<%- include ('templates/footer'); %>