<head>
    <title>Rimuovi carta di credito</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<%- include ('templates/navbar'); %>
<div class="container-UserRegistration" style="position: relative;">
    <%- include ('templates/sidebar'); %>
    <%if (notPermission == 0) { %>
    <div class="credit-card-content">
        <h1 style="text-align:center">Sei sicuro di voler rimuovere questa carta di credito?</h1>
        <h3 style="text-align:center">La carta in questione è la: <%= idCreditCard %></h3><br>
        <form method="post" action="/userProfile/removeCreditCard/<%= idCreditCard %>">
            <div class="removeCreditCardButton">
                <button type="submit" class="btn btn-primary">Si, rimuovi</button>
            </div>
        </form>

        <form action="/userProfile/wallet">
                <button type="submit" class="btn btn-primary">No, mantieni</button>
        </form>
    </div>
    <% } else { %>        
    <div class="container-genres" id="genres">
        <div class="genres-content">
            <h3>Siamo spiacenti, non possiede i permessi per accedere a questa pagina.</h3>
        </div>
    </div>
    <% } %>
</div>