<head>
  <title>Aggiorna la tua email</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

  <!-- SCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<%- include ('templates/navbar'); %>

<div class="container-UserRegistration " style="position: relative;">
  <%- include ('templates/sidebar'); %>
    <div class="updateEmail-content">
        <br>
        <h1 style="text-align:center">Aggiorna la tua email </h1>
        <br>
        <form id="form-UserRegistration" method="post" action="/userProfile/updateEmail" onsubmit="return youCanRegister()">
            <div class="form-group">
                <label for="inputEmail">Indirizzo email</label>
                <input type="email" class="form-control" name="inputEmail" placeholder="La tua email" required id="inputEmail">
              </div>
              <span id='messageExistsUser'></span>
              <div class="form-group">
                <label for="inputEmailConfirm">Conferma indirizzo email</label>
                <input type="email" class="form-control" name="inputEmailConfirm" placeholder="Conferma la tua email" required id="inputEmailConfirm">
                <span id='messageEmail'></span>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Aggiorna email</button>
              <br>
        </form>
    </div>
</div>

<%- include ('templates/footer'); %>
<!-- check if email inserted are equal -->
<script>
    $('#inputEmail, #inputEmailConfirm').on('blur', function () {
      if ($('#inputEmail').val() == $('#inputEmailConfirm').val()) {
        $('#messageEmail').html('Le email corrispondono').css('color', 'green');
      } else
        $('#messageEmail').html('Le email non corrispondono').css('color', 'red');
    });
  </script>

<!-- check if a user is already registered and forced to change email in case-->
<script>
var canLogin;
$(document).ready(function () {
  $('#inputEmail').on('blur', function (e) {
    var email = $('input[name="inputEmail"]').val();
    e.preventDefault();
    $.ajax({
        type: 'POST',
        data: {
           email: email
        },
        dataType: 'json',
        ContentType: 'application/json',
        url: '/userRegistration/check'
    }).done(function (data){
      if (data.length > 0){
        $('#messageExistsUser').html('Attenzione! Un utente è già presente con questa email').css('color', 'red');
        canLogin = false;
      }
      else {
        $('#messageExistsUser').html('Questa email è disponibile').css('color', 'green');
        canLogin = true;
      }
    });
  });
});

function youCanRegister(){
  if (canLogin){
    return true;
  }
  else {
    alert("Email non valida"); return false;
  }
}
</script>