<head>
  <title>Aggiorna la tua password</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

  <!-- SCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>




<%- include ('templates/navbar'); %>
<div class="container-UserRegistration" style="position:relative">
  <%- include ('templates/sidebar'); %>
    <div class="updatePassword-content">
        <br>
        <h1 style="text-align:center">Aggiorna la tua password </h1>
        <br>
        <form id="form-UserRegistration" method="post" action="/userProfile/updatePassword">
            <div class="form-group">
                <label for="inputPassword1">Password</label>
                <input type="password" class="form-control" name="inputPassword1" placeholder="Password" required id="inputPassword1">
              </div>
              <div class="form-group">
                <label for="inputPassword2">Conferma password</label>
                <input type="password" class="form-control" name="inputPassword2" placeholder="Conferma password" required id="inputPassword2">
                <span id='messagePassword'></span>
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Aggiorna password</button>
              <br>
        </form>
    </div>
</div>
<%- include ('templates/footer'); %>
<!-- check if password are equal -->
<script>
    $('#inputPassword1, #inputPassword2').on('blur', function () {
      if ($('#inputPassword1').val() == $('#inputPassword2').val()) {
        $('#messagePassword').html('Le password coincidono').css('color', 'green');
      } else
        $('#messagePassword').html('Le password non corrispondono').css('color', 'red');
    });
  </script>