<head>
    <title>Aggiorna il tuo profilo</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<%- include ('templates/navbar'); %>

<div class="container-UserRegistration" style="position: relative;">
    <%- include ('templates/sidebar'); %>
    <div class="updateUser-content">
      <br>
      <h1 style="text-align:center">Aggiorna il tuo profilo </h1>
      <br>
      <form id="form-UserRegistration" method="post" action="/userProfile/updateUser">
        <div class="form-group">
            <label for="inputName">Nome</label>
            <input type="text" class="form-control" name="inputName" value="<%= sess.user[0].name %>" placeholder="Il tuo nome" required>
        </div>
        <div class="form-group">
            <label for="inputSurname">Cognome</label>
            <input type="text" class="form-control" name="inputSurname" placeholder="Il tuo cognome" value="<%= sess.user[0].surname %>"required>
        </div>
        <div class="form-group">
            <label for="inputDateOfBirth">Data di nascita</label>
            <input type="date" class="form-control" name="inputDateOfBirth" value="<%= newDate %>" required>
        </div>
        <div class="form-group">
            <label for="inputPlaceOfBirth">Luogo di nascita</label>
            <input type="text" class="form-control" name="inputPlaceOfBirth" placeholder="Dove sei nato?"  value="<%= sess.user[0].placeOfBirth %>" required>
        </div>
        <div class="form-group">
            <label for="inputAddress">Indirizzo</label>
            <input type="text" class="form-control" name="inputAddress" placeholder="La via in cui risiedi" value="<%= sess.user[0].address %>"required>
        </div>
        <div class="form-group">
            <label for="inputCivicNumber">Numero Civico</label>
            <input type="text" class="form-control" name="inputCivicNumber" placeholder="Il numero civico" value="<%= sess.user[0].civicNumber %>"required>
        </div>
        <div class="form-group">
            <label for="inputProvince">Provincia</label>
            <input type="text" class="form-control" name="inputProvince" placeholder="La provincia" value="<%= sess.user[0].province %>" required>
        </div>
        <div class="form-group">
            <label for="inputCity">Città</label>
            <input type="text" class="form-control" name="inputCity" placeholder="Dove abiti?" value="<%= sess.user[0].city %>" required>
        </div>
        <div class="form-group">
            <label for="inputPhoneNumber">Numero di telefono</label>
            <input type="text" class="form-control" name="inputPhoneNumber" value="<%= sess.user[0].phoneNumber %>" placeholder="Il tuo numero di telefono">
        </div>
        <br>

        <button type="submit" class="btn btn-primary">Aggiorna il tuo profilo</button>

        <br>
      </form>

    </div>
    </div>
    <%- include ('templates/footer'); %> 
<!-- check if email inserted are equal -->
<script>
    $('#inputEmail, #inputEmailConfirm').on('blur', function () {
      if ($('#inputEmail').val() == $('#inputEmailConfirm').val()) {
        $('#messageEmail').html('Le email corrispondono').css('color', 'green');
      } else
        $('#messageEmail').html('Le email non corrispondono').css('color', 'red');
    });
  </script>