<head>
  <title>Registrati qui</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> -->


  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- SCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>

  label {
    width: 100%;
    font-size: 1rem;
  }
  
  .card-input-element+.card {
    height: calc(56px + 2*1rem);
    color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .card-input-element+.card:hover {
    cursor: pointer;
  }
  
  .card-input-element:checked+.card {
    border: 2px solid #1DB954;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }
  
  .card-input-element:checked+.card::after {
    content: '\e5ca';
    color: #1DB954;
    font-family: 'Material Icons';
    font-size: 24px;
    -webkit-animation-name: fadeInCheckbox;
    animation-name: fadeInCheckbox;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @-webkit-keyframes fadeInCheckbox {
    from {
      opacity: 0;
      -webkit-transform: rotateZ(-20deg);
    }
    to {
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
    }
  }
  
  @keyframes fadeInCheckbox {
    from {
      opacity: 0;
      transform: rotateZ(-20deg);
    }
    to {
      opacity: 1;
      transform: rotateZ(0deg);
    }
  }

.info-subscription{
  font-size: 10px;
}

</style>




</head>

<!-- NAVBAR -->
<%- include ('templates/navbar'); %>
<br>

<div class="container-UserRegistration" id="userRegistration">
<div class="sign-up-content">
  <h1 style="text-align:center">Benvenuto, registrati qui </h1>
  <br>
  <form id="form-UserRegistration"method="post" action="/userRegistration/user" onsubmit="return youCanRegister()">
    <div class="form-group">
        <label for="inputName">Nome</label>
        <input type="text" class="form-control" name="inputName" placeholder="Il tuo nome" required>
    </div>
    <div class="form-group">
        <label for="inputSurname">Cognome</label>
        <input type="text" class="form-control" name="inputSurname" placeholder="Il tuo cognome" required>
    </div>
    <div class="form-group">
        <label for="inputDateOfBirth">Data di nascita</label>
        <input type="date" class="form-control" name="inputDateOfBirth" required>
    </div>
    <div class="form-group">
        <label for="inputPlaceOfBirth">Luogo di nascita</label>
        <input type="text" class="form-control" name="inputPlaceOfBirth" placeholder="Dove sei nato?" required>
    </div>
    <div class="form-group">
        <label for="inputAddress">Indirizzo</label>
        <input type="text" class="form-control" name="inputAddress" placeholder="La via in cui risiedi" required>
    </div>
    <div class="form-group">
        <label for="inputCivicNumber">Numero Civico</label>
        <input type="text" class="form-control" name="inputCivicNumber" placeholder="Il numero civico" required>
    </div>
    <div class="form-group">
        <label for="inputProvince">Provincia</label>
        <input type="text" class="form-control" name="inputProvince" placeholder="La provincia" required>
    </div>
    <div class="form-group">
        <label for="inputCity">Città</label>
        <input type="text" class="form-control" name="inputCity" placeholder="Dove abiti?" required>
    </div>
    <div class="form-group">
      <label for="inputEmail">Indirizzo email</label>
      <input type="email" class="form-control" name="inputEmail" placeholder="La tua email" required id="inputEmail">
    </div>
    <span id='messageExistsUser'></span>
    <div class="form-group">
      <label for="inputEmailConfirm">Conferma indirizzo email</label>
      <input type="email" class="form-control" name="inputEmailConfirm" placeholder="Conferma la tua email" required id="inputEmailConfirm">
      <span id='messageEmail'></span>
    </div>
    <div class="form-group">
      <label for="inputPassword1">Password</label>
      <input type="password" class="form-control" name="inputPassword1" placeholder="Password" required id="inputPassword1">
    </div>
    <div class="form-group">
      <label for="inputPassword2">Conferma password</label>
      <input type="password" class="form-control" name="inputPassword2" placeholder="Conferma password" required id="inputPassword2">
      <span id='messagePassword'></span>
    </div>
    <div class="form-group">
        <label for="inputPhoneNumber">Numero di telefono</label>
        <input type="text" class="form-control" name="inputPhoneNumber" placeholder="Il tuo numero di telefono">
    </div>
    <br>
    <h3>Che abbonamento intendi sottoscrivere?</h3>
    <br>





    <div  class="row">
      <div class="col">
        <label>
          <input type="radio" name="checkSubscription" id="checkSubscriptionBasic" value="basic" class="card-input-element d-none">
            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
             <b style="font-size: 22px;">Abbonamento basic</b>
            </div>
        </label>
        <label class="mt-3">
          <input type="radio" name="checkSubscription" id="checkSubscriptionDeluxe" value="deluxe" class="card-input-element d-none">
            <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
              <b style="font-size: 22px;">Abbonamento deluxe</b>
            </div>
        </label>
      </div>
    </div><br>
    <div class="info-subscription">
      <ul>
        <li>
          L'abbonamento BASIC prevede l'acquisto di qualsiasi videogioco presente sulla piattaforma ed il limite di noleggio di 1 videogioco per volta. L'abbonamento BASIC è GRATUITO.
        </li>
        <li>
          L'abbonamento DELUXE prevede l'acquisto e noleggio di qualsiasi videogioco presente sulla piattaforma senza limiti. 
          Prevede un CASHBACK di una moneta virtuale dopo ogni acquisto o noleggio che si potrà utilizzare per altri acquisti o noleggi.
          <br>L'abbonamento DELUXE prevede un abbonamento al costo di 9.99€ al mese.
        </li>
      </ul>
    </div>




        <!-- <label>       
          <input type="radio" name="checkSubscription" id="checkSubscriptionBasic" value="basic" class="card-input-element">
          <div class="card border-dark mb-3 card-subscription" style="max-width: 18rem;">
              <div class="card-header" style="text-align: center; ">Abbonamento basic</div>
              <div class="card-body text-dark" style="text-align: center;">
                Gratuito
              </div>
          </div>
        </label> -->




      <!-- <div class="col-md-6">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
              <div class="card-header" style="text-align: center;">Abbonamento deluxe</div>
              <div class="card-body text-dark" style="text-align: center;">
                9,99€/mese
              </div>
          </div>
      </div> -->


<!--     
    <label>
      <input type="radio" name="checkSubscription" id="checkSubscriptionBasic" value="basic" class="card-input-element" />

        <div class="panel panel-default card-subscription">
          <div class="panel-heading">Product A</div>
          <div class="panel-body">
            Product specific content
          </div>
        </div>

    </label> -->








    <!-- <div class="form-check">
        <input class="form-check-input" type="radio" name="checkSubscription" id="checkSubscriptionBasic" value="basic">
        <label class="form-check-label" for="exampleRadios1">
          Abbonamento basic (gratuito)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="checkSubscription" id="checkSubscriptionDeluxe" value="deluxe">
        <label class="form-check-label" for="exampleRadios2">
            Abbonamento deluxe (9.99€/mese)
        </label>
    </div> -->


    <br>
    <button type="submit" class="btn btn-primary" id="registerUser">Registrati</button>
  </form>

</div>
</div>
<br><br>
<%- include ('templates/footer'); %> 

<!-- check if password are equal -->
<script>
  $('#inputPassword1, #inputPassword2').on('blur', function () {
    if ($('#inputPassword1').val() == $('#inputPassword2').val()) {
      $('#messagePassword').html('Le password coincidono').css('color', 'green');
    } else
      $('#messagePassword').html('Le password non corrispondono').css('color', 'red');
  });
</script>
<!-- check if email inserted are equal -->
<script>
  $('#inputEmail, #inputEmailConfirm').on('blur', function () {
    if ($('#inputEmail').val() == $('#inputEmailConfirm').val()) {
      $('#messageEmail').html('Le email corrispondono').css('color', 'green');
    } else
      $('#messageEmail').html('Le email non corrispondono').css('color', 'red');
  });
</script>
<!-- check if a user is already registered and forced to change email in case-->
<script>
var canLogin;
$(document).ready(function () {
  $('#inputEmail').on('blur', function (e) {
    var email = $('input[name="inputEmail"]').val();
    e.preventDefault();
    $.ajax({
        type: 'POST',
        data: {
           email: email
        },
        dataType: 'json',
        ContentType: 'application/json',
        url: '/userRegistration/check'
    }).done(function (data){
      if (data.length > 0){
        $('#messageExistsUser').html('Attenzione! Un utente è già presente con questa email').css('color', 'red');
        canLogin = false;
      }
      else {
        $('#messageExistsUser').html('Questa email è disponibile').css('color', 'green');
        canLogin = true;
      }
    });
  });
});

function youCanRegister(){
  if (canLogin){
    return true;
  }
  else {
    alert("Email non valida"); return false;
  }
}
</script>
