<head>
    <title>Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


    <!-- SCRIPT -->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<!-- NAVBAR -->
<%- include ('templates/navbar'); %>

<div class="container-UserProfile" style="position: relative;">
  <%- include ('templates/sidebar');%>
  <div class="profile-content">
    <h1 style="text-align: center;">Riepilogo dell'account</h1>
    <br>
    <table class="table-userProfile">
      <tbody>
        <tr class="tr-profileSection">
          <td class="td-profileSection color-td">
            Nome
          </td>
          <td class="td-profileSection">
            <%= sess.user[0].name %>
          </td>
        </tr>
        <tr class="tr-profileSection">
          <td class="td-profileSection color-td">
            Cognome
          </td>
          <td class="td-profileSection">
            <%= sess.user[0].surname %>
          </td>
        </tr>
        <tr class="tr-profileSection">
            <td class="td-profileSection color-td">
              Data di nascita
            </td>
            <td class="td-profileSection">
              <%= newDate %>
            </td>
          </tr>
        <tr class="tr-profileSection">
          <td class="td-profileSection color-td">
            Email
          </td>
          <td class="td-profileSection">
            <%= sess.user[0].email %>
          </td>
        </tr>
        <tr class="tr-profileSection">
          <td class="td-profileSection color-td">
            Numero di telefono
          </td>
          <td class="td-profileSection">
            <%= sess.user[0].phoneNumber %>
          </td>
        </tr>
        <tr class="tr-profileSection">
            <td class="td-profileSection color-td">
              Tipo di abbonamento
            </td>
            <td class="td-profileSection">
                <% if (sess.user[0].idSubscription == "BSC") { %>
                 Basic
                <% } else { %>
                 Deluxe
                <% } %>
            </td>
          </tr>
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>


<%- include ('templates/footer'); %>