<!DOCTYPE html>
<html>
    <head>
        <title>Videogiochi</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css">

        <link rel="stylesheet" href="/stylesheets/tavo-calendar.css" />


        <!-- SCRIPT -->
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" ></script>
        <script src="/js/tavo-calendar.js"></script>

    </head>

    <body>
        <!-- NAVBAR -->
        <%- include('templates/navbar'); %>
        <div style="position:relative;">
            <%if (closeAlert != "") { %>
                <div class="alert">
                    <span id="closeAlert" name="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                    <%= confirmationInserted %>
                </div>
            <% } %>

            <a onclick="topFunction()" id="btn-top"><i class="fa fa-angle-up" style="color:white"></i></a>

            <section class="game-review-area section-padding-50">
                <div class="container">
                    <h1 style="float:left;color:#1a1a1a;">Elenco Videogiochi</h1>
                    <div class="top-search-area">
                        <form action="/videogames/search" method="post">
                            <input type="search" name="inputSearch" id="topSearch" placeholder="Cerca...">
                            <button type="submit" name="searchButton"><i class="fa fa-search"></i></button>
                            <div class="searchParam">
                                <label>Ricerca per</label>
                                <select name="inputSearchParameter">
                                    <option value="searchTitle">Titolo</option>
                                    <option value="searchReleaseYear">Anno di rilascio</option>
                                    <option value="searchSoftwareHouse">Sviluppatore</option>
                                    <option value="searchDescription">Descrizione</option>
                                    <option value="searchPlatform">Piattaforma</option>
                                    <option value="searchGenre">Genere</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="row" style="clear:both;">
                        <div class="col-12">
                            <% if(vg.length == 0) { %>
                                <h3>Spiacenti! La ricerca non ha prodotto risultati.</h3>
                            <% } else { %>
                                <% vg.forEach(function(videogame){ %>
                                    <div class="single-game-review-area d-flex flex-wrap mb-30">
                                        <div class="game-thumbnail">
                                            <img class="game-image" src="<%= videogame.image %>" alt="">
                                        </div>
                                        <div class="game-content">
                                            <% var genres_type = [] %>
                                            <% var genres_id = [] %>
                                            <% var has_genre_id_genre = [] %>
                                            <% var results = [] %>
                                            <% var i = 0 %>
                                            <% var j = 0 %>

                                            <% gn.forEach(function(g){ %>
                                                <% genres_type[i] = g.type; %>
                                                <% genres_id[i] = g.idGenre; %>
                                                <% i = i + 1; %>
                                            <%  }) %>

                                            <% hasg.forEach(function(hg){ %>
                                                <% if(videogame.idVideogame == hg.idVideogame) { %>
                                                    <% has_genre_id_genre[j] = hg.idGenre; %>
                                                    <% j = j + 1; %>
                                                <% } %>
                                            <%  }) %>

                                            <% for(var m=0;m<genres_id.length;m++) { %>
                                                <% for(var n=0;n<has_genre_id_genre.length;n++) { %>
                                                    <% if(genres_id[m] == has_genre_id_genre[n]) { %>
                                                        <% results.push(genres_type[m]); %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>

                                            <span class="game-tag">
                                                <% for (var i=0;i<results.length;i++) { %>
                                                    <%= results[i] %>
                                                    <% if (i < results.length - 1) { %>| <% } %>
                                                <% } %>
                                            </span>
                                            <a href="/videogame/<%= videogame.idVideogame %>" class="game-title">
                                                <%= videogame.name %>
                                            </a>
                                            <div class="game-meta">
                                                <a class="game-date"><%= videogame.releaseYear %></a>
                                                <% var n_revs = 0 %>
                                                <% var total_stars = 0 %>
                                                <% var avg_stars = 0 %>
                                                <% review.forEach(function(rev){ %>
                                                    <% if (rev.idVideogame == videogame.idVideogame) { %>
                                                        <% n_revs = n_revs + 1 %>
                                                        <% total_stars += rev.stars %>
                                                    <% } %>
                                                <% }) %>
                                                <% avg_stars = total_stars / n_revs %>

                                                <a class="game-comments"><%= n_revs %> Recensioni</a>
                                            </div>
                                            <div class="game-description line-clamp">
                                                <p><%= videogame.description %></p>
                                            </div>
                                            <div class="download-rating-area d-flex align-items-center justify-content-between">
                                                <div class="download-area">
                                                    <form action="/cart/add/<%= videogame.idVideogame %>" method="post" style="display:inline;float:left;">
                                                        <button class="btn-buy">Acquista <%= videogame.buyPrice %>€</button>
                                                    </form>

                                                    <a href="/videogame/<%= videogame.idVideogame %>" style="display:inline;float:right;"><button class="btn-rent">Noleggia <%= videogame.rentPrice %>€</button></a>
                                                </div>
                                                <div class="rating-area text-center">
                                                    <a href="/videogames/addToWishlist/<%= videogame.idVideogame %>" name="add_to_wishlist" title="Aggiungi alla Lista dei Desideri"><i class="fa fa-heart wishlist-icon"></i></a>
                                                    <% if((avg_stars >= 1) && (avg_stars < 2)) { %>
                                                        <h3 style="width:1.3em;overflow:hidden;"><%= avg_stars %>.0</h3>
                                                        <div class="stars">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    <% } else if((avg_stars >=2) && (avg_stars < 3)) { %>
                                                        <h3 style="width:1.3em;overflow:hidden;"><%= avg_stars %>.0</h3>
                                                        <div class="stars">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    <% } else if((avg_stars >= 3) && (avg_stars < 4)) { %>
                                                        <h3 style="width:1.3em;overflow:hidden;"><%= avg_stars %>.0</h3>
                                                        <div class="stars">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    <% } else if((avg_stars >=4) && (avg_stars < 5)) { %>
                                                        <h3 style="margin-left:8px;width:1.3em;overflow:hidden;"><%= avg_stars %>.0</h3>
                                                        <div class="stars">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    <% } else if (avg_stars == 5) { %>
                                                        <h3 style="margin-left:15px;width:1.3em;overflow:hidden;"><%= avg_stars %>.0</h3>
                                                        <div class="stars">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    <% } else if ((avg_stars == 0) || (isNaN(avg_stars))) { %>
                                                        <h3>-</h3>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div id="calendar" style="display: none;">
                                                <div id="my-calendar" ></div>
                                                <form action="/cart/addRent/<%= videogame.idVideogame %>" method="POST">
                                                    <button type="submit" class="btn-rent" onclick="range()">Completa noleggio</button>

                                                    <input type="text" class="form-control" name="rangeInputHidden" id="rangeInputHidden" style="display: none;">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <% })} %>
                        </div>
                    </div>
            </section>
        </div>

        <script>
            $(document).ready(function () {
                $('#closeAlert').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json',
                        url: '/videogame/deleteVariables'
                    })
                });
            });
        </script>
        <script>
            //Get the button
            var mybutton = document.getElementById("btn-top");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

            function scrollFunction() {
              if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                mybutton.style.display = "block";
              } else {
                mybutton.style.display = "none";
              }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
            }
        </script>

        <script>
            function showCalendar(){
                document.getElementById('calendar').style.display = "block";
            }
        </script>
        <script>
            function range(){
               var range = myCalendar.getRange();
               var start = new Date(range.start);
               var end = new Date(range.end);
               var differenceDate = end.getTime() - start.getTime();
               var differenceInDays = differenceDate / (1000 * 3600 * 24);
               console.log (differenceInDays);
               var rangeInputHidden = document.getElementById('rangeInputHidden');
               rangeInputHidden.value = differenceInDays;
               console.log(rangeInputHidden.value);
            }

        </script>
        <script>
            const myCalendar = new TavoCalendar('#my-calendar', {
                locale: "it",
                range_select: true,
                })
        </script>

    </body>
</html>