<head>
    <title><%= videogame[0].name %> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/videogame.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/tavo-calendar.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">


    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js" ></script>
    <script src="/js/tavo-calendar.js"></script>

  </head>

<!-- NAVBAR -->
<%- include ('templates/navbar'); %>
<div style="position:relative;">
    <%if (ca != "") { %>
        <div class="alert">
            <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= ca %></span>
            <%= c %>
        </div>
    <% } %>
    <div class="breadcrumb-area bg-img bg-overlay" style="background-image: url('<%= videogame[0].image %>');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Breadcrumb Text -->
                <div class="col-12">
                    <div class="breadcrumb-text">
                        <h2><%= videogame[0].name %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Single Game Review Area Start ##### -->
    <section class="single-game-review-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="cover-image">
                        <img class="w-100"src="<%= videogame[0].image %>" alt="" >
                    </div>
                </div>
                <div class="col-lg-6 text-center-sm">
                    <div class="row padding-md">
                        <div class="col-lg-6 col-md-6 col-sm-6 content-videogame">
                            <h5>Prezzo di acquisto </h5>
                            <span class="price">€ <%= videogame[0].buyPrice %></span>
                            <form action="/cart/add/<%= videogame[0].idVideogame %> " method="post">
                                <button type="submit" class="btn btn-primary">Acquista</button>
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 content-videogame">
                            <div class="align-right-md">
                                <h5>Prezzo di noleggio</h5>
                                <span class="price">€ <%= videogame[0].rentPrice %></span>/giorno
                                    <button type="submit" class="btn-rent" onclick="showCalendar()">Noleggia</button>
                            </div>
                        </div>
                        <div id="calendar" style="display: none;">
                            <div id="my-calendar" ></div>
                            <form action="/cart/addRent/<%= videogame[0].idVideogame %>" method="POST">
                                <button type="submit" class="btn-rent" onclick="range()">Completa noleggio</button>

                                <input type="text" class="form-control" name="rangeInputHidden" id="rangeInputHidden" style="display: none;">
                            </form>
                        </div>
                    </div>
                    <br>
                        <b>Genere: </b>
                        <% for (var i = 0; i < genre.length; i++) { %>
                                <%= genre[i].type %>
                                <% if (i < genre.length - 1) { %>| <% } %>
                        <% } %>

                        <h6><b>Anno di rilascio</b>: <%= videogame[0].releaseYear %> </h6><br>
                        <h6><b>Software House</b>: <%= videogame[0].softwareHouse %> </h6><br>
                        <b>Piattaforme disponibili</b>:
                        <% for (var i = 0; i < platform.length; i++) { %>
                            <%= platform[i].name %>
                            <% if (i < platform.length - 1) { %>| <% } %>
                    <% } %>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="single-game-review-area style-2">
                        <div class="game-content">
                            <a class="game-title">Descrizione</a>
                            <p style="text-align:justify"><%= videogame[0].description %></p>
                        </div>
                            <input type="text" class="form-control" name="rangeInputHidden" id="rangeInputHidden" style="display: none;">
                            <input type="text" class="form-control" name="startDay" id="startDay" style="display: none;">
                            <input type="text" class="form-control" name="endDay" id="endDay" style="display: none;">

                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <iframe width="100%" height="300" src="<%= videogame[0].trailer %> " frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-lg-12">
                    <% var n_revs = 0 %>
                    <% reviews.forEach(function(rev){ %>
                        <% n_revs=n_revs+1; %>
                    <% }) %>
                    <a class="game-reviews">Recensioni (<%= n_revs %>)</a>
                    <div class="insert-review">
                        <h5 style="padding-top:5px;padding-left:10px;">Inserisci qui la tua recensione</h5>
                        <form action="/videogame/insertReview" method="post">
                            <input hidden name="inputVideogameId" value="<%=videogame[0].idVideogame %>">
                            <textarea name="inputText" placeholder="Inserisci qui il tuo commento..."></textarea>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" />
                                <label for="star5" name="r5"><i class="fa fa-1.5x fa-star" aria-hidden="true"></i></label>
                                <input type="radio" id="star4" name="rating" value="4" />
                                <label for="star4" name="r4"><i class="fa fa-1.5x fa-star" aria-hidden="true"></i></label>
                                <input type="radio" id="star3" name="rating" value="3" />
                                <label for="star3" name="r3"><i class="fa fa-1.5x fa-star" aria-hidden="true"></i></label>
                                <input type="radio" id="star2" name="rating" value="2" />
                                <label for="star2" name="r2"><i class="fa fa-1.5x fa-star" aria-hidden="true"></i></label>
                                <input type="radio" id="star1" name="rating" value="1" />
                                <label for="star1" name="r1"><i class="fa fa-1.5x fa-star" aria-hidden="true"></i></label>
                            </fieldset>

                            <%if (typeof sess.user != 'undefined') { %>
                                <button type="submit" class="btn btn-primary">Inserisci</button>
                            <% } else { %>
                                <a href="/login" class="btn btn-primary">Accedi per inserire la recensione</a>
                            <% } %>
                        </form>

                    </div>
                    <% reviews.forEach(function(rev){ %>
                        <div class="single-review" style="margin-top:10px;">
                            <% user.forEach(function(usr){ %>
                                <% if(usr.idUser == rev.idUser) { %>
                                    <p style="font-weight:bold;float:left;margin-bottom:0px;"><%= usr.name %> <%= usr.surname %></p>
                                <% } %>
                            <% }) %>
                            <div class="rating-area text-center">
                                <h4 style="float:right;padding-right:20px;"><%= rev.stars %></h4>
                                <div class="stars" style="float:right;padding-right:8px;">
                                    <% if(rev.stars == 1){ %>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                    <% } else if(rev.stars == 2){ %>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                    <% } else if(rev.stars == 3){ %>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                    <% } else if(rev.stars == 4){ %>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                    <% } else if(rev.stars == 5){ %>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-1.5x fa-star" aria-hidden="true"></i>
                                    <% } %>
                                </div>
                            </div>
                            <div class="text-review" style="clear:both;">
                                <%= rev.text %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>
</div>

<br><br>
<%- include ('templates/footer'); %>

<script>
    $(document).ready(function () {
        $('#closeAlert').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json',
                url: '/videogame/deleteVariables'
            })
        });
    });
</script>
<script>
    const myCalendar = new TavoCalendar('#my-calendar', {
        locale: "it",
        range_select: true,
        })
</script>

<script>
    function showCalendar(){
        document.getElementById('calendar').style.display = "block";
    }
</script>
<script>
    function range(){
       var range = myCalendar.getRange();
       var start = new Date(range.start);
       var end = new Date(range.end);
       var differenceDate = end.getTime() - start.getTime();
       var differenceInDays = differenceDate / (1000 * 3600 * 24);
       console.log (differenceInDays);
       var rangeInputHidden = document.getElementById('rangeInputHidden');
       var startDay = document.getElementById('startDay');
       var endDay = document.getElementById('endDay');
       startDay.value = start;
       endDay.value = end;
       rangeInputHidden.value = differenceInDays;
       console.log(rangeInputHidden.value);
    }
</script>
</body>


