<head>
    <title>Il tuo portafoglio</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userProfile.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<%- include ('templates/navbar'); %>
<div class="container-UserRegistration" style="position: relative;">
    <%- include ('templates/sidebar'); %>
    <div class="wallet-content">
      <br>
      <h1 style="text-align:center">Saldo </h1>
      <br><br>
        <div  class="row">
            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="text-align: center; ">Saldo reale</div>
                    <div class="card-body text-dark" style="text-align: center;">
                    <h4 class="card-title"> <%= Math.round((realBalance + Number.EPSILON) * 100) / 100 %> EUR</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="text-align: center;">Moneta virtuale</div>
                    <div class="card-body text-dark" style="text-align: center;">
                    <h4 class="card-title"> <%= Math.round((virtualBalance + Number.EPSILON) * 100) / 100 %></h4>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row justify-content-center">
            <form action="/userProfile/rechargeWallet">
                <button type="submit" class="btn btn-primary">Ricarica saldo</button>
            </form>
        </div>
        <br>
        <h1 style="text-align:center">Aggiungi carta </h1>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <a href="/userProfile/creditCard" class="credit-card">
                    <div class="card border-dark mb-3 my-card" style="max-width: 18rem;">
                        <!-- <div class="card-header" style="text-align: center; ">Saldo reale</div> -->
                        <div class="card-body text-dark" style="text-align: center; background-color:rgba(0,0,0,.03)">
                            <i class="fas fa-plus fa-3x"></i>&nbsp&nbsp&nbsp<i class="fas fa-credit-card fa-5x"></i>
                        <!-- <h4 class="card-title"> <%= realBalance %> EUR</h4> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br />

            <% if (creditCardData.length > 0) { %>
                <br />
                <h1 style="text-align:center">Le tue carte di credito </h1>
                <br />
                    <% creditCardData.forEach(function(creditCard){ %>
                        <div  class="row justify-content-center">
                            <div class="card border-dark mb-3" style="max-width: 25rem;">
                                <div class="card-header" style="text-align: center; ">
                                    <% if (creditCard.idCreditCard.charAt(0) == 4) { %>
                                        <img src="https://img.icons8.com/color/36/000000/visa.png">
                                    <% } %>
                                    <% if (creditCard.idCreditCard.charAt(0) == 5) { %>
                                        <img src="https://img.icons8.com/color/36/000000/mastercard.png">
                                        <% } %>
                                        <% if (creditCard.idCreditCard.charAt(0) == 3) { %>
                                        <img src="https://img.icons8.com/color/36/000000/amex.png">
                                    <% } %>
                                    **** **** **** <%= creditCard.idCreditCard.substring(12,16) %></div>
                                <div class="card-body text-dark" style="text-align: center;">
                                    <a href="/userProfile/editCreditCard/<%= creditCard.idCreditCard %>">
                                        <i class="fas fa-pen fa-2x" style="color:#1DB954;"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <a href="/userProfile/removeCreditCard/<%= creditCard.idCreditCard %>">
                                        <i class="fas fa-trash-alt fa-2x" style="color:red;"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% })%>
            <% } %>


    </div>
    <br>
    <br>
    <br>
    <br>

</div>
<%- include ('templates/footer'); %>