<!DOCTYPE html>
<html>
    <head>
        <title>Videogiochi</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" type="text/css">

        <!-- SCRIPT -->
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="http://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- NAVBAR -->
        <%- include('templates/navbar'); %>
        <div style="position:relative;">
            <%if (closeAlert != "") { %>
                <div class="alert">
                    <span id="closeAlert" class="closebtn" onclick="this.parentElement.style.display='none';"><%= closeAlert %></span>
                    <%= confirmationInserted %>
                </div>
            <% } %>

            <%if (typeof sess.user != 'undefined') { %>
                <!-- SIDEBAR -->
                <%- include('templates/sidebar'); %>
                <br/>
                <div class="container-videogames" id="videogames">
                    <div class="videogames-content">
                        <h1 style="float:left;padding-left:10px;color:#1a1a1a;">Lista dei Desideri</h1>
                    </div>
                    <% var wishlist = [] %>
                    <% var i = 0 %>

                    <% wl.forEach(function(wish){ %>
                        <% wishlist[i] = wish.idVideogame; %>
                        <% i = i + 1; %>
                    <% }) %>

                    <div class="wishlist-row">
                        <% vg.forEach(function(videogame){ %>
                            <% for(var m=0;m<wishlist.length;m++) { %>
                                <% if(videogame.idVideogame == wishlist[m]) { %>
                                    <div class="wishlist-column">
                                        <img class="wishlist-game-image" name="wishlist_img" src="<%= videogame.image %>" alt="">
                                        <span class="wishlist-icons">
                                            <a href="/videogame/<%= videogame.idVideogame %>" title="Visualizza videogioco" style="margin-right:15px;"><i class="fas fa-arrow-alt-circle-right fa-2x icon-go"></i></a>
                                            <a href="/userProfile/removeVideogame/<%= videogame.idVideogame %>" name="remove_vg" title="Rimuovi dalla Lista dei Desideri"><i class="fas fa-trash-alt fa-2x" style="color:red;"></i></a>
                                        </span>
                                    </div>
                                <% } %>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            <% } else { %>
                <div class="container-videogames" id="videogames">
                    <div class="videogames-content">
                        <h3>Accedi per visualizzare correttamente questa pagina.</h3>
                    </div>
                </div>
            <% } %>
        </div>

        <script>
            $(document).ready(function () {
                $('#closeAlert').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json',
                        url: '/videogames/deleteVariables'
                    })
                });
            });
        </script>
    </body>
</html>