* {
    margin: 0;
    padding: 0;
  }

.table td {
    vertical-align:middle !important;
  }

  .table-head {
    background-color: #1ED760;
    color: white;
  }

  .table-head-column th {
    text-align:center !important;
    vertical-align:middle !important;
    border: 0 !important;
  }

  .table-body-column {
    text-align:center;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f6ff !important;
  }

  table.dataTable.no-footer {
    border-bottom: 1px solid #dee2e6 !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #ffffff !important;
    border: 1px solid #1ED760!important;
    background-color: #1ED760!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ED760), color-stop(100%, #1ED760))!important;
    background: -webkit-linear-gradient(top, #1ED760 0%, #1ED760 100%)!important;
    background: -moz-linear-gradient(top, #1ED760 0%, #1ED760 100%)!important;
    background: -ms-linear-gradient(top, #1ED760 0%, #1ED760 100%)!important;
    background: -o-linear-gradient(top, #1ED760 0%, #1ED760 100%)!important;
    background: linear-gradient(to bottom, #1ED760 0%, #1ED760 100%)!important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 1px solid #1aa34a!important;
    background-color: #1aa34a!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1aa34a), color-stop(100%, #1aa34a))!important;
    background: -webkit-linear-gradient(top, #1aa34a 0%, #1aa34a 100%)!important;
    background: -moz-linear-gradient(top, #1aa34a 0%, #1aa34a 100%)!important;
    background: -ms-linear-gradient(top, #1aa34a 0%, #1aa34a 100%)!important;
    background: -o-linear-gradient(top, #1aa34a 0%, #1aa34a 100%)!important;
    background: linear-gradient(to bottom, #1aa34a 0%, #1aa34a 100%)!important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: green !important;
    border: 1px solid #dee2e6!important;
    background-color: #dee2e6!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dee2e6), color-stop(100%, #dee2e6))!important;
    background: -webkit-linear-gradient(top, #dee2e6 0%, #dee2e6 100%)!important;
    background: -moz-linear-gradient(top, #dee2e6 0%, #dee2e6 100%)!important;
    background: -ms-linear-gradient(top, #dee2e6 0%, #dee2e6 100%)!important;
    background: -o-linear-gradient(top, #dee2e6 0%, #dee2e6 100%)!important;
    background: linear-gradient(to bottom, #dee2e6 0%, #dee2e6 100%)!important;
  }

  /* ICONS HOVER */
  .fa-plus:hover {
    color: green !important;
  }

  .fa-pen:hover {
    color: green !important;
  }

  .fa-trash-alt:hover {
    color:rgb(158,9,9) !important;
  }
