.a{
    color:white !important;
}

.mb-100 {
    margin-bottom: 100px !important; }


/* :: 5.0 Hero Area CSS */
.hero-area {
    position: relative;
    z-index: 1; }
    .hero-area .owl-prev {
      display: none !important; }
    .hero-area .owl-next {
      position: absolute;
      width: 133px;
      height: 52px;
      top: 50%;
      margin-top: -26px;
      font-size: 14px;
      font-weight: 600;
      color: #ffffff;
      text-transform: capitalize;
      background-color: #1DB954;
      right: 50px;
      text-align: center;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      line-height: 52px; }
      @media only screen and (max-width: 767px) {
        .hero-area .owl-next {
          width: 80px;
          height: 34px;
          line-height: 34px;
          margin-top: -17px;
          font-size: 11px;
          right: 15px; } }
      .hero-area .owl-next:hover {
        background-color: #000000;
        color: #ffffff; }

  .single-slide {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 790px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-slide {
        height: 700px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-slide {
        height: 600px; } }
    @media only screen and (max-width: 767px) {
      .single-slide {
        height: 450px; } }
    .single-slide .blog-content {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      padding: 80px;
      border-left: 2px solid #1DB954;
      background-color: rgba(0, 0, 0, 0.6); }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-slide .blog-content {
          padding: 50px; } }
      @media only screen and (max-width: 767px) {
        .single-slide .blog-content {
          padding: 30px 20px; } }
      .single-slide .blog-content h2 {
        color: #fff;
        font-size: 60px;
        margin-bottom: 20px;
        font-weight: 400; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single-slide .blog-content h2 {
            font-size: 42px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single-slide .blog-content h2 {
            font-size: 36px; } }
        @media only screen and (max-width: 767px) {
          .single-slide .blog-content h2 {
            font-size: 24px; } }
      .single-slide .blog-content p {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0; }
        @media only screen and (max-width: 767px) {
          .single-slide .blog-content p {
            font-size: 12px; } }

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover; }
.bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }



.single-games-area {
    position: relative;
    z-index: 1; }
    .single-games-area::after {
      content: '';
      width: 2px;
      height: 100%;
      background-color: #cdcdcd;
      top: 0;
      right: -6.5px;
      position: absolute;
      z-index: 1; }
      @media only screen and (max-width: 767px) {
        .single-games-area::after {
          display: none; } }
    .single-games-area img {
      max-height: 150px;
      margin: 0 auto;
      display: block; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-games-area img {
          max-height: 120px; } }
      @media only screen and (max-width: 767px) {
        .single-games-area img {
          max-height: 150px; } }

  .games-area {
    position: relative;
    z-index: 1;
    padding-top: 100px;}
    .games-area .col-12:last-child .single-games-area:after {
      display: none; }

  .pagination .page-item .page-link {
    background-color: transparent;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    padding: 0;
    margin-right: 10px;
    border: none;
    font-weight: 600; }
    .pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
      color: #20d8da;
      box-shadow: none; }
  .pagination .page-item.active .page-link {
    color: #20d8da; }


    .egames-btn {
        background-color: #20d8da;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 160px;
        height: 50px;
        color: #ffffff;
        border-radius: 0;
        padding: 0 30px;
        font-size: 14px;
        line-height: 50px;
        font-weight: 500;
        text-transform: capitalize; }
        .egames-btn:hover, .egames-btn:focus {
          font-size: 14px;
          font-weight: 500;
          background-color: #000000;
          color: #ffffff; }


.games-area .btn {
box-shadow: none !important;
margin-bottom: 14px;
max-width: 250px;
margin-left: auto;
margin-right: auto;
color: #FFF;
background-color: #1DB954;
font-size: 14px;
line-height: 1;
border-radius: 500px;
padding: 16px 48px 18px;
border-width: 0;
letter-spacing: 2px;
text-transform: uppercase;
min-width: 160px;
display: block;
width: 100%;
}

.games-area .btn:hover{
color: #FFF;
background-color: #1ED760;
box-shadow: none !important;
}

.games-area .btn:focus{
color: #FFF;
background-color: #1aa34a !important;
box-shadow: none !important;
}



.bg-pattern {
    position: relative;
    z-index: 2; }
    .bg-pattern::after {
      background-image: url(../images/pattern.png);
      background-repeat: repeat;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1; }

.bg-pattern2 {
    position: relative;
    z-index: 2; }
.bg-pattern2::after {
    background-image: url(../images/pattern2.png);
    background-repeat: repeat;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; }

/* :: 9.0 Monthly Picks Area CSS */
.monthly-picks-area {
    position: relative;
    z-index: 1;
    background-color: #0e0e0e;
    overflow: hidden; }
    .monthly-picks-area .nav-tabs {
      border-bottom: 2px solid #323232;
      margin-bottom: 80px; }
      .monthly-picks-area .nav-tabs .nav-item .nav-link {
        padding: 0 25px;
        height: 56px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 56px;
        border-radius: 0;
        border: none; }
        .monthly-picks-area .nav-tabs .nav-item .nav-link:hover {
          border: none; }
        .monthly-picks-area .nav-tabs .nav-item .nav-link.active {
          background-color: #1DB954; }
        @media only screen and (max-width: 767px) {
          .monthly-picks-area .nav-tabs .nav-item .nav-link {
            padding: 0 20px;
            height: 42px;
            line-height: 42px;
            font-size: 12px; } }



.single-games-slide .img{
    max-height: 262px;
}
  .single-games-slide {
    position: relative;
    z-index: 1; }
    .single-games-slide .slide-text {
      margin-top: 30px; }
      .single-games-slide .slide-text .game-title {
        color: #fff;
        display: block;
        margin-bottom: 10px;
        font-size: 18px; }
        @media only screen and (max-width: 767px) {
          .single-games-slide .slide-text .game-title {
            font-size: 16px; } }
        .single-games-slide .slide-text .game-title:hover, .single-games-slide .slide-text .game-title:focus {
          color: #1DB954 ; }
      .single-games-slide .slide-text .meta-data {
        position: relative;
        z-index: 1; }
        .single-games-slide .slide-text .meta-data a {
          font-size: 12px;
          color: #6b6b6b;
          font-weight: 700;
          text-transform: uppercase; }
          .single-games-slide .slide-text .meta-data a:first-child {
            margin-right: 15px; }
          .single-games-slide .slide-text .meta-data a:last-child {
            color: #1DB954 !important; }
          .single-games-slide .slide-text .meta-data a:hover, .single-games-slide .slide-text .meta-data a:focus {
            cursor: text !important;
            color: #1DB954 !important; }

  .popular-games-slideshow,
  .latest-games-slideshow,
  .editor-games-slideshow {
    position: relative;
    z-index: 1; }
    .popular-games-slideshow .owl-prev,
    .popular-games-slideshow .owl-next,
    .latest-games-slideshow .owl-prev,
    .latest-games-slideshow .owl-next,
    .editor-games-slideshow .owl-prev,
    .editor-games-slideshow .owl-next {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 50%;
      margin-top: -30px;
      font-size: 16px;
      color: #ffffff;
      background-color: rgba(13, 13, 13, 0.7);
      left: 22%;
      text-align: center;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      line-height: 60px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .popular-games-slideshow .owl-prev,
        .popular-games-slideshow .owl-next,
        .latest-games-slideshow .owl-prev,
        .latest-games-slideshow .owl-next,
        .editor-games-slideshow .owl-prev,
        .editor-games-slideshow .owl-next {
          left: 15%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .popular-games-slideshow .owl-prev,
        .popular-games-slideshow .owl-next,
        .latest-games-slideshow .owl-prev,
        .latest-games-slideshow .owl-next,
        .editor-games-slideshow .owl-prev,
        .editor-games-slideshow .owl-next {
          left: 15%; } }
      @media only screen and (max-width: 767px) {
        .popular-games-slideshow .owl-prev,
        .popular-games-slideshow .owl-next,
        .latest-games-slideshow .owl-prev,
        .latest-games-slideshow .owl-next,
        .editor-games-slideshow .owl-prev,
        .editor-games-slideshow .owl-next {
          left: 5%;
          width: 40px;
          height: 40px;
          margin-top: -20px;
          line-height: 40px; } }
      .popular-games-slideshow .owl-prev:hover,
      .popular-games-slideshow .owl-next:hover,
      .latest-games-slideshow .owl-prev:hover,
      .latest-games-slideshow .owl-next:hover,
      .editor-games-slideshow .owl-prev:hover,
      .editor-games-slideshow .owl-next:hover {
        background-color: #1DB954;
        color: #ffffff; }
    .popular-games-slideshow .owl-next,
    .latest-games-slideshow .owl-next,
    .editor-games-slideshow .owl-next {
      left: auto;
      right: 22%; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .popular-games-slideshow .owl-next,
        .latest-games-slideshow .owl-next,
        .editor-games-slideshow .owl-next {
          right: 15%; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .popular-games-slideshow .owl-next,
        .latest-games-slideshow .owl-next,
        .editor-games-slideshow .owl-next {
          right: 15%; } }
      @media only screen and (max-width: 767px) {
        .popular-games-slideshow .owl-next,
        .latest-games-slideshow .owl-next,
        .editor-games-slideshow .owl-next {
          right: 5%; } }

  .left-right-pattern {
    position: relative;
    z-index: 6000; }
    .left-right-pattern::after {
      position: absolute;
      width: 100%;
      height: 2000px;
      top: -500px;
      left: 1110px;
      content: '';
      background-color: rgba(14, 14, 14, 0.8);
      background-image: url(../images/pattern.png);
      z-index: 6000; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .left-right-pattern::after {
          left: 930px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .left-right-pattern::after {
          left: 690px; } }
      @media only screen and (max-width: 767px) {
        .left-right-pattern::after {
          display: none; } }
    .left-right-pattern::before {
      position: absolute;
      width: 100%;
      height: 2000px;
      top: -500px;
      left: -1110px;
      content: '';
      background-color: rgba(14, 14, 14, 0.8);
      background-image: url(../images/pattern.png);
      z-index: 6000; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .left-right-pattern::before {
          left: -930px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .left-right-pattern::before {
          left: -690px; } }
      @media only screen and (max-width: 767px) {
        .left-right-pattern::before {
          display: none; } }

/* :: 10.0 Video Area CSS */
.egames-video-area {
    position: relative;
    z-index: 1; }
    .egames-video-area .egames-nav-btn {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 590px;
      overflow-x: hidden;
      overflow-y: scroll; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .egames-video-area .egames-nav-btn {
          height: 400px; } }
      @media only screen and (max-width: 767px) {
        .egames-video-area .egames-nav-btn {
          height: 400px; } }
    .egames-video-area .nav-link {
      padding: 0; }
      .egames-video-area .nav-link .video-text .video-title {
        color: #fff; }
      .egames-video-area .nav-link .video-text span {
        font-size: 10px; }
      .egames-video-area .nav-link.active .single-video-widget {
        background-color: #1DB954; }
        .egames-video-area .nav-link.active .single-video-widget .video-rating {
          background-color: #424242; }
    .egames-video-area .video-playground {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 590px;
      border-left: 1px solid #fff; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .egames-video-area .video-playground {
          height: 400px; } }
      @media only screen and (max-width: 767px) {
        .egames-video-area .video-playground {
          height: 300px; } }
      .egames-video-area .video-playground .play-btn a {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 74px;
        height: 74px;
        z-index: 100;
        top: 50%;
        left: 50%;
        margin-top: -37px;
        margin-left: -37px;
        background-color: #1DB954 !important;
        border-radius: 50%;
        text-align: center; }
        .egames-video-area .video-playground .play-btn a img {
          padding: 25px 0; }
        .egames-video-area .video-playground .play-btn a:hover {
          background-color: #1ED760 !important; }

.single-video-widget{
    background-color: #232323;
    padding: 20px 15px;
    border-bottom: 1px solid #fff;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.video-title{
    margin-bottom: 0 !important;
}

.video-title p {
    font-size: 14px;
    line-height: 2.1;
    font-weight: 400
}

.single-video-widget .video-thumbnail{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
    margin-right: 15px;
}

.single-video-widget .video-rating {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    max-width: 50px;
    width: 50px;
    margin-left: 35px;
    background-color: #1DB954;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.single-video-widget .video-text span {
    color: #747373;
    font-size: 12px;
    margin: 0;
}

/* :: 3.6.0 ScrollUp */
#scrollUp {
    background-color: #000000;
    border-radius: 0;
    bottom: 50px;
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 37px;
    right: 50px;
    text-align: center;
    width: 40px;
    border-radius: 50%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15); }
    #scrollUp:hover, #scrollUp:focus {
      background-color: #1DB954;
      color: #ffffff; }