.bg-light-nav {
    background-color: #252525 !important;
}

.navbar-brand img {
    width: 80px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.no-hover:hover {
    color:white !important;
}

.navbar a:hover{
    color: #1DB954 !important;
}

.button:focus{
    outline: transparent !important;
}

.navbar .divider {
    background-color: #d9dadc;
    width: 1px;
    height: 16px;
    margin: 13px 8px;
  }

@media only screen and (max-width: 991px){
    .navbar .divider {
        display: none;
    }
}

#lblCartCount {
    font-size: 12px;
    background: #1DB954;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: -80px !important;
        left: auto;
    }
}

.dropdown-menu {
    position: absolute;
    top: 125%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #252525;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover, .dropdown-item .btn-link:hover {
    color: #1DB954 !important;
    background-color: #252525 !important;
}