/* The sidebar menu */
.sidenav {
    min-height: 577px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 220px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 15px 10px 15px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181 !important;
    display: block;
    border-top: 1px solid #818181;
  }

  .last {
    border-bottom: 1px solid #818181;
  }

  .userData {
    min-height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .userData a {
    border-top: 0;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    border-left: 5px solid #1ED760;
  }

  .userData a:hover {
    border: 0;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
  }