@import "adminDatatables.css";
@import "videogames_list.css";
@import "wishlist.css";

* {
  margin: 0;
  padding: 0;
}

/* a {
  color:black !important;
} */

a:hover{
  text-decoration:none !important;
}

.btn-link{
  border:none;
  outline:none !important;
  background:none;
  cursor:pointer;
  color:#fff !important;
  padding:0;
  text-decoration:none !important;
  font-family:inherit;
  font-size:inherit;
}

.btn-link:hover{
  text-decoration: none !important;
}

/* STYLE FOR USER REGISTRATION */
.container-UserRegistration{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sign-up-content{
  margin: 0 auto;
  max-width: 35.2em;
}

.sign-up-content .btn {
  box-shadow: none !important;
  margin-bottom: 14px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color: #1DB954;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: 160px;
  display: block;
  width: 100%;
}

.sign-up-content .btn:hover{
  color: #FFF;
  background-color: #1ED760;
  box-shadow: none !important;
}

.sign-up-content .btn:focus{
  color: #FFF;
  background-color: #1aa34a !important;
  box-shadow: none !important;
}

/* STYLE FOR ALERT */
.alert {
  margin-top:0;
  margin-bottom:0;
  background-color: #4CAF50;
  color: white;
  height: auto;
}

.closebtn {
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* STYLE FOR NEW/EDIT VIDEOGAME, NEW/EDIT PLATFORM, NEW/EDIT GENRE */
.container-newVideogame, .container-newPlatform, .container-newGenre,
.container-editVideogame, .container-editPlatform, .container-editGenre{
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 603px;
  background-color: #f8f6ff;
}

.new-videogame-content, .new-platform-content, .new-genre-content,
.edit-videogame-content, .edit-platform-content, .edit-genre-content{
  margin: 0 auto;
  margin-left: 450px;
  max-width: 35.2em;
}

.fixed-height{
  height: 340px;
  overflow: auto;
}

.new-videogame-content .btn, .new-platform-content .btn, .new-genre-content .btn,
.edit-videogame-content .btn, .edit-platform-content .btn, .edit-genre-content .btn {
  margin-bottom: 14px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color: #1DB954;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: 160px;
  display: block;
  width: 100%;
}

.new-videogame-content .btn:hover, .new-platform-content .btn:hover, .new-genre-content .btn:hover,
.edit-videogame-content .btn:hover, .edit-platform-content .btn:hover, .edit-genre-content .btn:hover {
  color: #FFF;
  background-color: #1ED760;
  box-shadow: none !important;
}

.new-videogame-content .btn:focus, .new-platform-content .btn:focus, .new-genre-content .btn:focus,
.edit-videogame-content .btn:focus, .edit-platform-content .btn:focus, .edit-genre-content .btn:focus{
  color: #FFF;
  background-color: #1aa34a !important;
  box-shadow: none !important;
}

/* STYLE FOR VIDEOGAMES, PLATFORMS AND GENRES */
.container-videogames, .container-platforms, .container-genres{
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 603px;
  background-color: #f8f6ff;
}

.videogames-content, .platforms-content, .genres-content{
  margin: 0 auto;
  margin-left: 240px;
  max-width: 1080px;
  padding-bottom: 40px;
}

.fixed-height{
  height: auto;
  max-height: 340px;
  overflow: auto;
}

.videogames-content .btn, .platforms-content .btn, .genres-content .btn {
  margin-bottom: 14px;
  max-width: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color: #1DB954;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 8px 8px 8px 8px;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: 160px;
  display: block;
  width: 100%;
}

/* STYLE FOR LOGIN */
.container-Login{
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.login-content{
  margin: 0 auto;
  max-width: 28.2em;
}

.login-content .btn {
  box-shadow: none !important;
  margin-bottom: 14px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color: #1DB954;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  min-width: 160px;
  display: block;
  width: 100%;
}
.login-content .btn:hover{
  color: #FFF;
  background-color: #1ED760 !important;
  box-shadow: none !important;
}

.login-content .btn:focus{
  color: #FFF;
  background-color: #1aa34a !important;
  box-shadow: none !important;
}

/* STYLE FOR USER PROFILE */
.container-UserProfile{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-content{
  padding-left: 220px;
  margin: 0 auto;
  max-width: 50.2em;
}

.color-td{
  color: #9e9e9e;
}

.table-userProfile{
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 15px;
}

.tr-profileSection{
  border-bottom: 1px solid #d9dadc;
  border-spacing: 0;
}

.td-profileSection{
  white-space: nowrap;
  border-spacing: 0;
}