.container-UserProfile{
    margin-right: auto;
    margin-left: 130px; /* same of the sidebar */
    padding-left: 15px;
    padding-right: 15px;
    min-height: 800px;
  }
  
  .profile-content{
    margin: 0 auto;
    max-width: 50.2em;
  }
  
  .color-td{
    color: #9e9e9e;
  }
  
  .table-userProfile{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 15px;
  }
  
  .tr-profileSection{
    border-bottom: 1px solid #d9dadc;
    border-spacing: 0;
  }
  
  .td-profileSection{
    white-space: nowrap;
    border-spacing: 0;
  }
  
  .margin-dash{
    position: relative;
    margin-left: 150px !important;
  }

  .updateUser-content, .updateEmail-content, .updatePassword-content, .wallet-content, .profile-content, .rechargeWallet-content{
    padding-top: 90px;
    padding-left: 220px;
    margin: 0 auto;
    max-width: 40.2em;
    min-height: 800px;
  }

  .credit-card-content{
    padding-top: 150px;
    padding-left: 220px;
    margin: 0 auto;
    min-height: 800px;
  }

  .updateUser-content .btn, .updateEmail-content .btn, .updatePassword-content .btn, .credit-card-content .btn, .wallet-content .btn, .rechargeWallet-content .btn{
    box-shadow: none !important;
    margin-bottom: 14px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    min-width: 160px;
    display: block;
    width: 100%;
  }
  .updateUser-content .btn:hover, .credit-card-content .btn:hover, .wallet-content .btn:hover, .updateEmail-content .btn:hover, .updatePassword-content .btn:hover,  .rechargeWallet-content .btn:hover{
    color: #FFF;
    background-color: #1ED760;
    box-shadow: none !important;
  }

  .updateUser-content .btn:focus, .credit-card-content .btn:focus, .wallet-content .btn:focus,  .updateEmail-content .btn:focus, .updatePassword-content .btn:focus,  .rechargeWallet-content .btn:focus {
    color: #FFF;
    background-color: #1aa34a !important;
    box-shadow: none !important;
  }

  .removeCreditCardButton .btn{
    box-shadow: none !important;
    margin-bottom: 14px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    background-color: #FD4928;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    min-width: 160px;
    display: block;
    width: 100%;
  }

  .removeCreditCardButton .btn:hover{
    color: #FFF;
    background-color: #FF6b50;
    box-shadow: none !important;
  }

  .removeCreditCardButton .btn:focus{
    color: #FFF;
    background-color: #D92605 !important;
    box-shadow: none !important;
  }


  
  
  .updateUser-content .btn:focus{
    color: #FFF;
    background-color: #1aa34a !important;
    box-shadow: none !important;
  }

  @media screen and (max-width: 878px) {
    .card {
      margin: auto;
    }
  }

.my-card{
  transition: .3s;
}

.my-card:hover{
  transform: scale(1.1);
}
a.credit-card,
a.credit-card:hover {
  color: inherit;
}


