.container-videogame{
    padding-top:50;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.cover-videogame{
    height: 280px;
    width: 100%;
}

.title-videogame{
    padding-left: 100px;
    padding-top: 20px;
}

.content-videogame .btn {
    box-shadow: none !important;
    margin-bottom: 14px;
    color: #FFF;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    width: 200px;
  }

.content-videogame .btn:hover, .insert-review .btn:hover{
    color: #FFF;
    background-color: #1ED760;
    box-shadow: none !important;
}

.content-videogame .btn:focus, .insert-review .btn:focus{
    color: #FFF;
    background-color: #1aa34a !important;
    box-shadow: none !important;
}


.content-videogame .btn-rent {
    box-shadow: inset 0 0 0 2px #1DB954;
    margin-bottom: 14px;
    color: #1DB954;
    background-color: transparent;
    font-size: 14px;
    line-height: 1;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    width: 200px;
  }

.content-videogame .btn-rent:hover{
    cursor:pointer;
    transition-duration: .3s;
    color: #FFF;
    background-color: #1ED760;
    box-shadow: none !important;
}

.content-videogame .btn-rent:focus{
    color: #FFF;
    background-color: #1aa34a !important;
    box-shadow: none !important;
}

.sku-info{
    width: 280px;
    background-color: #f8f9fa ;
}

.videogame-description{
    padding-left: 100px;
}

@media screen and (max-width: 767px) {
    .sku-info {
        width: 100%;
        text-align: center;

    }

    .cover-videogame{
        height: 280px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}

.trailer-videogame{
    padding-top:30px;
}

.review-videogame{
    padding-top: 30px;
}

/* REVIEWS */
.insert-review {
    background-color: #ebf5f5;
    overflow:hidden;
}

.rating {
    float:left;
    border:none;
    padding-left:10px;
}

.rating label {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.rating:not(:checked) > input {
    position:absolute;
    clip:rect(0, 0, 0, 0);
    padding: 2px 2px 2px 2px;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.rating > input:checked ~ label {
    color: #fbb710;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: #f70;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}

.insert-review textarea {
    padding: 3px 5px 3px 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    margin-bottom: 10px;
    height: auto;
    overflow:auto;
    background-color: #f8f6ff;
    border: none;
}

.insert-review textarea:focus {
    outline:0;
    box-shadow: 0 0 5px 1px rgb(29, 185, 84);
}

.insert-review .btn {
    float:right;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px;
    color: #FFF;
    background-color: #1DB954;
    border: 0;
}

.insert-review a {
    box-shadow: none !important;
    margin-bottom: 14px;
    color: #FFF !important;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    padding: 16px 48px 18px;
    border-width: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
  }

  .insert-review a:hover {
    color: #FFF !important;
    background-color: #1ED760 !important;
    box-shadow: none !important;
}

.insert-review a:focus {
    color: #FFF !important;
    background-color: #1aa34a !important;
    box-shadow: none !important;
}

.single-review {
    background-color: #f8f6ff;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.stars i {
    color: #fbb710;
}

/* NEW CSS */


.breadcrumb-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 410px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .breadcrumb-area {
    height: 370px; } }

@media only screen and (max-width: 767px) {
    .breadcrumb-area {
    height: 230px; } }

.breadcrumb-area .breadcrumb-text {
-webkit-transition-duration: 500ms;
transition-duration: 500ms;
position: relative;
z-index: 1;
padding: 30px 60px;
border-left: 2px solid #1DB954;
background-color: rgba(0, 0, 0, 0.6);
display: inline-block; }

@media only screen and (max-width: 767px) {
.breadcrumb-area .breadcrumb-text {
    padding: 20px 40px; } }

.breadcrumb-area .breadcrumb-text h2 {
font-size: 36px;
line-height: 1;
margin-bottom: 0;
color: #fff;
font-weight: 400; }

@media only screen and (max-width: 767px) {
    .breadcrumb-area .breadcrumb-text h2 {
    font-size: 24px; } }

.breadcrumb-area:hover .breadcrumb-text {
border-left: 2px solid #fff;
background-color: #1DB954; }

.bg-img {
background-position: center center;
background-size: cover;
background-repeat: no-repeat; }

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover; }

.bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }




/* :: 11.0 Game Review Area CSS */
.single-game-review-area {
    position: relative;
    z-index: 1; }
.single-game-review-area .game-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42%;
    flex: 0 0 42%;
    max-width: 42%;
    width: 42%;
    overflow: hidden; }

@media only screen and (max-width: 767px) {
.single-game-review-area .game-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px; } }

.single-game-review-area .game-thumbnail img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }

.single-game-review-area .game-thumbnail::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(32, 216, 218, 0.6);
    position: absolute;
    visibility: hidden;
    opacity: 0; }

.single-game-review-area .game-content {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58%;
    flex: 0 0 58%;
    max-width: 58%;
    width: 58%;
    padding-left: 30px; }

@media only screen and (max-width: 767px) {
    .single-game-review-area .game-content {
    margin-top:20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    padding-left: 0; } }

.single-game-review-area .game-content .game-tag {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #aaaaaa; }

.single-game-review-area .game-content .game-title, .game-reviews {
    font-size: 24px;
    color: #424242;
    font-weight: 700;
    display: block;
    margin-bottom: 10px; }

.single-game-review-area .game-content .game-title:hover, .game-reviews:hover {
    color: #20d8da; }

.single-game-review-area .game-content .game-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 15px; }

.single-game-review-area .game-content .game-meta a {
    font-size: 14px;
    color: #6b6b6b;
    font-weight: 700;
    text-transform: uppercase; }

.single-game-review-area .game-content .game-meta a:first-child {
    margin-right: 30px; }

.single-game-review-area .game-content .game-meta a:hover, .single-game-review-area .game-content .game-meta a:focus {
    color: #20d8da; }

.single-game-review-area .game-content p {
    color: #939393;
    margin-bottom: 15px; }

.single-game-review-area .game-content .download-rating-area {
    position: relative;
    z-index: 1; }

.single-game-review-area .game-content .download-rating-area .download-area a {
    display: inline-block; }

.single-game-review-area .game-content .download-rating-area .download-area a:first-child {
    margin-right: 20px; }

.single-game-review-area .game-content .download-rating-area .download-area a img {
    max-height: 36px; }

@media only screen and (max-width: 767px) {
    .single-game-review-area .game-content .download-rating-area .download-area a img {
    max-height: 24px; } }

.single-game-review-area .game-content .download-rating-area .rating-area h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0; }

.single-game-review-area .game-content .download-rating-area .rating-area .stars {
    font-size: 10px; }

.single-game-review-area .game-content .download-rating-area .rating-area .stars i {
    color: #fbb710; }

.single-game-review-area:hover .game-thumbnail::after, .single-game-review-area:focus .game-thumbnail::after {
    visibility: visible;
    opacity: 1; }

.single-game-review-area:hover .game-thumbnail img, .single-game-review-area:focus .game-thumbnail img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.single-game-review-area.style-2 .game-content {
    padding-left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%; }

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px; }

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0; }

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px; }

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px; }


.single-game-img-slides {
    position: relative;
    z-index: 1; }

.single-game-img-slides .carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 15px; }

.single-game-img-slides .carousel-indicators li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(16.66667% - 12.5px);
    flex: 0 0 calc(16.66667% - 12.5px);
    max-width: calc(16.66667% - 12.5px);
    width: calc(16.66667% - 12.5px);
    height: 150px;
    margin-left: 0;
    margin-right: 15px;
    background-size: cover;
    background-position: center center; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-game-img-slides .carousel-indicators li {
    height: 100px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-game-img-slides .carousel-indicators li {
    height: 80px; } }

@media only screen and (max-width: 767px) {
    .single-game-img-slides .carousel-indicators li {
    height: 40px; } }

.single-game-img-slides .carousel-indicators li:last-child {
    margin-right: 0; }




.single-barfiller-area {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    display: block; }

.single-barfiller-area:last-child {
    margin-bottom: 0; }

.single-barfiller-area .barfiller {
    width: 100%;
    height: 7px;
    background: #dcdfff;
    border: none;
    position: relative;
    margin-bottom: 20px;
    box-shadow: none; }

.single-barfiller-area .barfiller .fill {
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #333;
    z-index: 1; }
.single-barfiller-area .barfiller .tipWrap {
    display: none; }

.single-barfiller-area .barfiller .tip {
    margin-top: 15px;
    padding: 2px 4px;
    font-size: 11px;
    color: #424242;
    left: 0px;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    background: transparent; }

.single-barfiller-area .barfiller .tip::after {
    display: none; }

.single-barfiller-area p {
    margin-bottom: 0;
    font-size: 14px;
    color: #424242;
    line-height: 1;
    margin-top: 15px; }

.cover-image{
    overflow: hidden;
    height: 410px !important;
}

.price{
    font-size:38px;
}

@media only screen and (max-width: 991px){
    .padding-md{
        padding-top:40px;
    }
}
@media only screen and (max-width: 991px) and (min-width:576px){
    .align-right-md{
        text-align: right;
    }
    .content-videogame  .btn-rent{
        display:initial;
    }
}

@media only screen and (max-width: 576px){
    .text-center-sm{
        text-align: center;
    }
    .content-videogame  .btn-rent{
        margin-left: 20px;
        display:initial;
    }
    .content-videogame .btn{
        margin-left: 20px;
        display:initial;
    }
}