.wishlist-row {
    margin-left:250px;
    clear:both;
}

.wishlist-column {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
  }

  /* Clearfix (clear floats) */
  .wishlist-row::after {
    content: "";
    clear: both;
    display: table;
  }

  .wishlist-game-image {
    max-height: 100%;
    max-width: 100%;
}

.wishlist-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display:none;
    background-color: rgba(255,255,255,0.7);
  }

  .wishlist-game-image:hover + .wishlist-icons, .wishlist-icons:hover {
    display: inline-block;
}

.icon-go {
    color:#1DB954;
}

.icon-go:hover {
    color:#1ED760;
}